[2018-03-23 10:05] workfel opened #4511 "[BUG] toISOString don't return timestamp in UTC"
Hi all,
I have some trouble with the `toISOString()` method.
I want to get the UTC of date but the toISOString() method return my local timezone (GMT +1).

This `moment("2018-03-23").toISOString()` should return `2018-03-23T00:00:00.000Z` but when i try it i have `2018-03-22T23:00:00.000Z`.

[code]

You can access to example here [https://jsbin.com/sozofer/edit?js,console](https://jsbin.com/sozofe

[2018-03-23 10:11] adamlibusa commented on #2115
I'd also like to bump this, as I spent an extra day trying to figure out how `doy` works and had to download the source of moment to do it. It would be great to introduce a new, more semantically relevant setting variable, as @usmonster suggests.

[2018-03-23 15:23] Webrow opened #4512 "Parsed time after DST switch displayed with +1 hour than its current time."
**Description of the Issue and Steps to Reproduce:**
Parse and display the following timestring: "2018-03-25T19:00:00+01:00"
Note, this time is after the DST switch.
When I display this time with  a.format("HH:mm") I would expect. 19:00.
But it shows, 20:00.
Is there a way to print times in their current equivalent? (I suppose this issue is gone after next saturday) but will appear again over 6 mo

[2018-03-23 16:47] yonemec commented on #959
I like zbarnett  solution! Easyto use
Little update to the function    **this.milliseconds(0);**

turno.date.clone().roundNext15Min().add(anticipation, 'minutes');

moment.fn.roundNext15Min = function () {
		var intervals = Math.floor(this.minutes() / 15);
		if(this.minutes() % 15 != 0)
		    intervals++;
		    if(intervals == 4) {
		        this.add('hours', 1);
		        intervals = 0;
		    }

[2018-03-24 00:38] amilajack opened #4513 "Add "module" support"
Bundlers are now leveraging the `module` property to support es6 improts/exports. Would a PR for adding this property be welcome?

[2018-03-24 02:11] ToonLadyboy commented on #463
Request one user twitter @Toon_Ladyboy

[2018-03-24 18:07] WizardPC opened #4514 "[Feature request] relativeTimeThreshold for weeks"
**Description of the Issue and Steps to Reproduce:**

Feature request : Add a `relativeTimeThreshold` for weeks.

*Please include the values of all variables used.*

[code]

**What is the use-case or motivation for changing an existing behavior?**

I want to display age of animals :octocat:

My problem is for puppy, a veterinary count in days (1 to 21days) AND weeks (4 to 16weeks) because the vacc

[2018-03-25 12:54] ashsearle commented on #4512
I think you might be looking for `parseZone`:

[code]

[2018-03-25 13:11] ashsearle commented on #4511
I don't think it's a bug in `toISOString()`; there's a difference between `moment` and `Date` in the timezone they use when parsing an ISO format date.

You may be able to see this yourself via:
[code]

The issue is that native ISO-date parsing will default to UTC, while moment defaults to local timezone.

Two possible ways to be more explicit about this - depending on the outcome you want:
1. Add

[2018-03-25 16:57] cdaguerre commented on #2416
In addition to @fergardi 's comment, slightly changing the regex avoids including some more undesired locales.
[code]
This way you don't get all the `es-*` locales like `es-do`, `es-us`and so on.
Actually, without this change you end up with 13 locales instead of 3 because of all the regional variations.

[2018-03-25 17:12] kirankalyan5 commented on #4504
+1

[2018-03-25 21:28] seltix5 commented on #727
Hello,
I found this problem too, in my case I wanted the startOf Day using moment-with-locales.min.js 2.21.0

[code]

after using "startOf" the timezone is set to zero.
I reported the same problem here : https://github.com/moment/moment-timezone/issues/208

[2018-03-26 06:51] sellakkumaran opened #4516 "[Bug] Timezone offset is set to zero after changing system timezone"
**Environment:**

-  All browsers in **macOS High Sierra**

Description of the Issue and Steps to Reproduce:

- current timezone offset (-330)

- change the system timezone to (-480)

- moment time zone offset is shown as (0)

PS: Issue not occuring in new tab

[2018-03-26 07:09] jonaslagoni commented on #1151
Using the html breakline syntax works - moment().format("ddd[</br>]DD[</br>]MMM")

[2018-03-26 16:49] jladbury commented on #3263
For my tuppence worth, I would like `13.21 am` to be invalid when parsed with `HH:mm a` .

Reason: I am validating user input, and such a time exposes a probable mistake in that input.

[2018-03-27 00:50] icambron commented on #1151
please, y'all, file a new issue

[2018-03-27 08:38] ashsearle commented on #4516
moment gets its timezone offset information from `Date`.

You've identified a problem with the macOS timezone propagating to `Date`, which isn't something moment can detect or do anything about.

The timezone propagation isn't consistent in browsers at all.
e.g. if you create a Date instance (`d = new Date()`) and check `d.getTimezoneOffset()` before/after changing time zone you'll see that the ti

[2018-03-27 10:09] snerror commented on #3852
PHP `DateTimeZone::listIdentifiers()` can actually recognize obsolete timezones if you use [ALL_WITH_BC](http://php.net/manual/en/class.datetimezone.php#datetimezone.constants.all-with-bc) constant when calling the function.

[2018-03-27 15:50] extra-mayo commented on #4323
@kishoreaoe The problem is that you passed in an invalid argument to moment(). Wrap the argument in quotation marks:
[code]

[2018-03-28 08:25] seanlon opened #4517 "[bug] danish locale 'da' not working for month of 'maj' and 'oktober' at version 2.21.0"
**Description of the Issue and Steps to Reproduce:**

// other month except maj and oktober works fine
    this.toDate = moment( '11. maj 2018', 'LL').locale('da').format('YYYY-MM-DD');
    this.toDate = moment( '11. juni 2018', 'LL').locale('da').format('YYYY-MM-DD');

// below dont work and will throw invalid date
    this.toDate = moment( '11. Oktober 2018', 'LL').locale('da').format('YYYY-MM-D

[2018-03-28 08:30] seanlon commented on #4517
my current workaround:

  function handleMonthIssue(dateDisplay){
    dateDisplay = dateDisplay || '';
    return dateDisplay.replace('maj', 'may').replace('oktober', 'october');

  }

moment( handleMonthIssue('11. oktober 2018'), 'LL').locale('da').format('YYYY-MM-DD');

[2018-03-28 10:52] cameronlowry commented on #348
+2

[2018-03-28 17:19] thomashusa opened #4518 "[feature] Support add(n, 'isoweek') and subtract(n, 'isoweek')"
**Description of the Issue and Steps to Reproduce:**
Currently adding or subtracting 'isoweek' from a moment returns the same moment:

[code]

It would be convenient if isoweek was aliased to week in this use case so that the following would be returned:

[code]

The reason behind the request is that frequently have to "chunk" time series data by a user provided period (such as a week). moment.js

[2018-03-29 09:44] workfel commented on #4511
Thank you,

But i one thing i don't understand, i you look the jsbin. when i write
[code]
The result are the same
[code]

But when i give a date to moment is apply the timezone.

https://jsbin.com/sozofer/edit?js,console

[2018-03-29 10:09] ashsearle commented on #4511
You're not giving a `Date` to moment, you're giving a `String`.

[2018-03-29 12:44] workfel commented on #4511
So, with a string `moment` not convert to `utc` this string ?

It's possible to convert this string to utc value ?

[2018-03-29 13:10] workfel commented on #4511
Also, if i do this
[code]
`Moment` return `2018-03-28T22:00:00.000Z` and i should be `2018-03-29T00:00:00.000Z`

[2018-03-29 15:24] dpundir opened #4519 "webpack warning with moment for missing 'locale' folder"
I am using moment version@2.10.6 and seeing warning message in webpack run.

`WARNING in ./node_modules/moment/min/moment-with-locales.js
Module not found: Error: Can't resolve './locale' in 'E:\code\web-base\node_modules\moment\min'
 @ ./node_modules/moment/min/moment-with-locales.js 263:16-43
 @ ./node_modules/moment/min/moment-with-locales.js-exposed
`
I am using webpack alias:
`'moment': 'node

[2018-03-29 16:21] plandem commented on #1435
quite nice solution
https://github.com/moment/momentjs.com/pull/489

[2018-03-30 02:19] smileheart2 commented on #3968
Yesterday I met new Date("2018-03-29 17:25:2") under IE11 for Invalid Date. Firefox and Google Chrome are normal. I don't know if it is the same as your problem. The solution is to replace "-" with "-". Changed to "/" to become new Date("2018/03/29 17:25:2"). I have poor English and I don't know if you can read it. Sorry.

[2018-03-30 09:47] fvalleeHbbTV opened #4522 "Period to seconds return incorrect value"
**Description of the Issue and Steps to Reproduce:**
I'm trying to convert the ISO6801 period "P48Y2M29DT08H40M16S" to seconds.

[code]
I know my period origin is the January 1, 1970 so I try to convert the duration to epoch time

[code]
or
[code]

At the time of the test current date is 2018-03-30, but
asSeconds returns 1522575186  a date 2 days in the future (2018-04-01)
valueOf / 1000 returns 1

[2018-03-30 13:29] fvalleeHbbTV commented on #4522
actually 1522528750 is not really matching with current date so my input Period string may be wrong.
Anyway is there a good way to convert a epoch-based duration to date ?

[2018-03-30 14:00] avnovoselov commented on #463
https://github.com/jsmreese/moment-duration-format

[2018-03-30 14:07] BartekSTRX opened #4523 "4 tests failed. America/Cancun:guess (1631.1) America/Fort_Nelson:guess (2469.1) America/Metlakatla:guess (4571.1) America/Metlakatla:guess (4571.2)"
### Client info
[code]

====

### America/Cancun:guess (1631.1)

[code]

====

### America/Fort_Nelson:guess (2469.1)

[code]

====

### America/Metlakatla:guess (4571.1)

[code]

====

### America/Metlakatla:guess (4571.2)

[code]

[2018-03-30 16:30] ebrandell commented on #4498
Following up. Also experiencing the same issue. Any workarounds/resolutions?

[2018-03-30 17:22] jeffbeagley opened #4524 "IsValid reporting true on an address"
You can see the behavior in the fiddle
https://jsfiddle.net/jeffbeagley/2c9urj5v/1/
[code]

[2018-03-30 17:32] jeffbeagley commented on #4524
Added strict parsing and that fixed the issue.

[2018-03-30 17:32] #4524 closed

[2018-03-31 10:17] ashsearle commented on #4511
@workfel said:

Exactly - that's what I meant in my [previous comment]((https://github.com/moment/moment/issues/4511#issuecomment-375969504)) when I said:

To force moment to parse a ISO formatted date in UTC timezone, add a `T00Z` suffix - e.g. `2018-03-29T00Z`

In your next comment:

Why should it be `2018-03-29T00:00:00.000Z`?  That's not the start of _your_ day, because `Z` isn't _your_ timezo

[2018-03-31 11:32] Clovis-Portron commented on #3536
Hi @l1br3, did you fix your issue ?
It seems I have the same (for février for example), and I dont achieve to fix it :/

[2018-03-31 22:58] ldhong50 opened #4526 "2 tests failed. locale:gu:calendar day (1108.3) locale:x-pseudo:calendar day (2679.3)"
### Client info
[code]

====

### locale:gu:calendar day (1108.3)

Now plus 3 hour

[code]

====

### locale:x-pseudo:calendar day (2679.3)

Now plus 1 hour

[code]

[2018-04-02 07:28] #4483 closed

[2018-04-02 07:35] marwahaha commented on #4485
Hi,

The [Moment.js docs](http://momentjs.com/docs/) should have what you're looking for. In particular, I'd look in the duration section.

The closest thing in pure Moment might be:
[code]

Or, by using `.hours()`, `.minutes()`, `.seconds()` and making the string yourself.

Otherwise, you can use a plugin like the [moment duration format plugin](https://momentjs.com/docs/#/plugins/duration-format

[2018-04-02 07:35] #4485 closed

[2018-04-02 07:39] marwahaha commented on #4522
I'm not sure exactly what you're looking for, but you can `add` and `subtract` from moment objects:
[code]

[Stack Overflow](https://stackoverflow.com) might also be a good resource for this question.

[2018-04-02 07:39] #4522 closed

[2018-04-02 07:42] marwahaha commented on #4508
@juanghurtado - thoughts ?

[2018-04-02 07:45] marwahaha commented on #4503
I don't know what's changed to cause this issue. Would love more information, or other eyes here.

[2018-04-02 07:47] marwahaha commented on #4502
Hi @SobakaSlava - thanks for writing.

We have our Belarusian translation here:
https://github.com/moment/moment/blob/develop/src/locale/be.js

If you can, please make a Pull Request with what should be changed.

Otherwise, perhaps @demidov91 or others can help out.

[2018-04-02 07:53] marwahaha commented on #4500
Hi @JamesWilkinson-ICFOlson

We have some (admittedly terse) documentation here: http://momentjs.com/docs/#/get-set/set/

If you have suggestions for better docs, please let us know! Otherwise, feel free to close the issue.

[2018-04-02 07:59] marwahaha commented on #4517
Hi,

These all worked for me. It would help to have more information.

[2018-04-02 08:03] marwahaha commented on #4435
If you get to the bottom of it, feel free to make a PR!

[2018-04-02 08:07] marwahaha commented on #4480
You can escape the `G` - that character is used for other parsing.

[code]

[2018-04-02 08:07] #4480 closed

[2018-04-02 08:08] marwahaha commented on #4479
http://momentjs.com/docs/#/get-set/day/

[2018-04-02 08:08] #4479 closed

[2018-04-02 08:27] juanghurtado commented on #4508
Right now i'm rather busy and cannot take a look at this. However it seems that @dmckenna24 is right. If someone can pick this up and take a look, it would be great.

[2018-04-02 08:36] marwahaha commented on #4511
Perhaps, you're looking for
[code]

if there are other problems, feel free to open a [Stack Overflow](stackoverflow.com) issue.

[2018-04-02 08:36] #4511 closed

[2018-04-02 08:38] marwahaha commented on #4345
Perhaps there could be a flag that turns deprecation logs into real errors.

[2018-04-02 08:39] marwahaha commented on #4333
I'm going to close this. If there are other suggestions, please re-open or make a new issue.

[2018-04-02 08:39] #4333 closed

[2018-04-02 09:21] JamesWilkinson-ICFOlson commented on #4500
It's there a repo for the docs I can submit PR to update?

On Mon, Apr 2, 2018 at 9:54 AM +0200, "Kunal Marwaha" <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @JamesWilkinson-ICFOlson<https://github.com/JamesWilkinson-ICFOlson>

We have some (admittedly terse) documentation here: http://momentjs.com/docs/#/get-set/set/

If you have suggestions for better docs, please let u

[2018-04-02 17:44] marwahaha commented on #4500
https://github.com/moment/momentjs.com

[2018-04-02 18:22] urinieto commented on #4508
As a native Catalan and Spanish speaker, `4 de maig` is the right Catalan translation of `May 4th`. However, the Spanish translation seems wrong: should be `4 de mayo`, not `4 mayo.`

The strictly correct thing to do here would be to update the Spanish localization strings by adding the `de` preposition in front of every month. In Catalan, the preposition should be `de` if the month starts with a

[2018-04-02 18:41] juanghurtado commented on #4508
If `moment('2018-05-04').format('D MMMM')` returns '4 mayo' and '4 May' as @dmckenna24 said, the correct translation to catalan would be '4 maig', just to be consistent with all the other translations.

[2018-04-02 18:54] urinieto commented on #4508
Yup, that would be the correct translation from an incorrect way of saying a date in Spanish.

[2018-04-02 19:02] juanghurtado commented on #4508
And also from an incorrect way of saying a date in english, don't forget that.

Once we have 'May 4th' as the result of that command un english, the translation to catalan should be changed to '4 de maig'. Until then, I guess the right behavior is that it should be '4 maig'.

[2018-04-03 03:19] icambron commented on #4518
I think this is a reasonable request, since we'd just make it do the same thing as `week` in `add` and `subtract`.

[2018-04-03 08:49] fvalleeHbbTV commented on #4522
Hi thanks for feedback!
 It's working fine using folllowing code:
`
var t = moment.unix(0).utc();
t.add(moment.duration("P48Y2M29DT08H40M16S", moment.ISO_8601));
return t.unix();
`

[2018-04-03 22:35] AlexandreBonneau opened #4529 "4 tests failed. America/Cancun:guess (1631.1) America/Fort_Nelson:guess (2469.1) America/Metlakatla:guess (4571.1) America/Metlakatla:guess (4571.2)"
### Client info
[code]

====

### America/Cancun:guess (1631.1)

[code]

====

### America/Fort_Nelson:guess (2469.1)

[code]

====

### America/Metlakatla:guess (4571.1)

[code]

====

### America/Metlakatla:guess (4571.2)

[code]

[2018-04-03 22:36] AlexandreBonneau commented on #4529
Whoops, this is a duplicate of #4437

[2018-04-03 22:36] #4529 closed

[2018-04-04 06:57] #4494 closed

[2018-04-04 07:03] marwahaha commented on #4512
@Webrow does this answer your question?
See https://momentjs.com/docs/#/parsing/parse-zone/ for more info

[2018-04-04 07:15] marwahaha commented on #4450
If you have a date of a year (i.e. 2018) whose `weekYear` is not the same year (i.e. 2017), then you might want that week to show in both the beginning and end of the calendar.

[code]

Let us know as you have other issues (feel free to re-open), or you can make an issue on [Stack Overflow](stackoverflow.com).

[2018-04-04 07:15] #4450 closed

[2018-04-04 07:27] marwahaha commented on #4421
@jsmreese  ?

[2018-04-04 07:44] marwahaha commented on #4439
Each locale file can define their own calendar:
[code]

If you want things different than the defaults, you can override them yourself.

If you have other questions, please re-open or post on [Stack Overflow](stackoverflow.com). Good luck!

[2018-04-04 07:44] #4439 closed

[2018-04-04 07:47] marwahaha commented on #2151
Seems like this is done. Regardless, `npm` is the preferred installation method.

If there are still questions or issues, please re-open!

[2018-04-04 07:47] #2151 closed

[2018-04-04 07:51] marwahaha commented on #4385
@nishantgupta204 There may be an infinite loop in your code. Unfortunately, I don't have time to debug - perhaps others can help.

What bug were you trying to fix ?

[2018-04-04 07:51] #4385 closed

[2018-04-04 07:55] marwahaha commented on #4386
Yea, this looks like a documentation issue. Thanks @AlexanderEllis

[2018-04-04 07:55] #4386 closed

[2018-04-04 08:03] Webrow commented on #4512
Sorryz forgot to close it. Yeah it was parsezone!

Op wo 4 apr. 2018 09:03 schreef Kunal Marwaha <notifications@github.com>:

[2018-04-04 08:04] marwahaha commented on #4497
To be clear, the constructor is not losing any information.
[code]
The default format is [clearly documented](https://momentjs.com/docs/#default-format). If you don't like it, you can use a different format.

[2018-04-04 08:04] #4497 closed

[2018-04-04 08:10] marwahaha commented on #4493
@munkhorgil - try upgrading to 2.22.0 - [we now support locale `mn`](https://github.com/moment/moment/blob/develop/CHANGELOG.md).

Please re-open if you still have problems.

[2018-04-04 08:10] #4493 closed

[2018-04-04 08:13] marwahaha commented on #4116
Cool. That seems like intended behavior - whatever locale (i.e. `zh-cn`) to `moment.locale` (i.e. `moment.locale("zh-cn")` will set the locale.

I will close this for now. Please re-open if you still have issues.

[2018-04-04 08:13] #4116 closed

[2018-04-04 08:17] marwahaha commented on #2167
@ichernev  ?

[2018-04-04 08:33] marwahaha commented on #3911
Closing since there is plenty of discussion in https://github.com/moment/momentjs.com/issues/279

[2018-04-04 08:33] #3911 closed

[2018-04-04 08:44] marwahaha commented on #3263
@iansu - the parser code is around here:
https://github.com/moment/moment/blob/develop/src/lib/units/hour.js
look for "addRegexToken" and/or "addParseToken".

I think the general ask is "hours > 12 are invalid when parsed with "h" **when in strict mode**".  Existing tests should still pass, but please add more tests in strict mode.

[2018-04-04 08:53] marwahaha commented on #3176
@leon - do you still see this issue with recent versions of TS?

@maggiepint - how would `setDefaultFormat` break IE8?

[2018-04-04 08:54] marwahaha commented on #3936
If there is a need for this language that `moment.locale("en")` wouldn't satisfy, please re-open.

[2018-04-04 08:54] #3936 closed

[2018-04-04 09:04] marwahaha commented on #2020
`moment({})` will default to `moment()`, and most other objects will emit a deprecation warning.

One way to solve this is to pass the string back through a Date constructor, and pass the result to moment.
[code]

If you don't have `textContent` (i.e. IE8), there's a polyfill here: https://developer.mozilla.org/en-US/docs/Web/API/Node/textContent

Please re-open if you have other issues.

[2018-04-04 09:04] #2020 closed

[2018-04-04 09:05] marwahaha commented on #4288
Closing due to age. Please re-open if this is still an issue.

[2018-04-04 09:05] #4288 closed

[2018-04-04 09:05] #4512 closed

[2018-04-04 09:07] marwahaha commented on #4486
Thanks @lad475 !

@matejm91 Please re-open if there are still issues.

[2018-04-04 09:07] #4486 closed

[2018-04-04 09:10] marwahaha commented on #4501
If you want to set the timezone with the `moment` object, try `parseZone`:
https://momentjs.com/docs/#/parsing/parse-zone/

[code]

Does this help?

[2018-04-04 09:14] marwahaha commented on #4477
Thanks @lad475 !

You can also try [`moment.utc`](https://momentjs.com/docs/#/parsing/utc/):
[code]

Please re-open if you still have issues.

[2018-04-04 09:14] #4477 closed

[2018-04-04 09:16] marwahaha commented on #4203
This would be best solved by a community-driven PR!

[2018-04-04 09:17] marwahaha commented on #4171
Closing-  @bloodcarter please re-open if this is still a problem.

[2018-04-04 09:17] #4171 closed

[2018-04-04 09:53] marwahaha opened #4530 "Replace JSCS with ESLint (or Prettier?)"
this should be addressed by some version of #4475

it's important that
1. code is readable & maintainable by new and old developers
2. code can be automatically fixed when possible (low-effort for developers)
3. automated tools are still being used (i.e., let's get off jscs!)

I like the ESLint approach, but I'm not that familiar to Prettier or JSLint or the others. Would love to open a chat to se

[2018-04-04 09:57] marwahaha commented on #4313
Closing due to age. If there are still problems please re-open.

[2018-04-04 09:57] #4313 closed

[2018-04-04 11:14] dotnetCarpenter commented on #2213
@marwahaha honestly it has been 3 years since I had the issue. I don't know how it is with the current version of moment but the issue was about not being able to write a thin wrapper that direct calls to `moment.utc.whatever` but I needed to only use the `.utc.` calls. So the moment API was not that nice to work with since a lot of errors came from a cognitive overhead of remembering when to use

[2018-04-04 11:23] Stanols opened #4531 "Still see this bug #3717 ([bugfix] Fixes #3717, ensure day-of-year is non-zero #3787)"
Hi there,

Quite simple to reproduce, parsing a number with 7 characters using moment.ISO_8601 is returning true.

Examples:

moment(1111201, moment.ISO_8601, true).isValid() // true
I run directly on the moment.js website

Version
Chrome Version 55.0.2883.95 (64-bit) on OSX

[2018-04-04 12:27] linqcan opened #4532 "set does not update an invalid moment object"
**Description of the Issue and Steps to Reproduce:**
The issues stems from working with leap years and dates in "MMM DD" format.
If I parse a leap year date (today, 2018) like "Feb 29" the moment object is invalidated.
When I then try and change the year to a leap year, like 2020, the moment object is not updated.

[code]
I am expecting `a.year()` to return "2020" and `a.toDate()` to return a date

[2018-04-04 14:44] wstan77 commented on #4422
This worked to me,

[](https://momentjs.com/docs/#/i18n/instance-locale/
)
You must instance on App.js all words to language than you want, this will work in all your application.

[2018-04-04 14:45] wstan77 commented on #4422
This worked to me,

[https://momentjs.com/docs/#/i18n/instance-locale/](url)
You must instance on App.js all words to language than you want, this will work in all your application.

[2018-04-04 20:04] nnmrts commented on #4203
here ya go

[2018-04-05 05:30] marwahaha commented on #2213
Cool, thanks for the explanation. We have a plan for the next major release of Moment, and hopefully it will resolve some of these issues.

If you'd like this ticket to stay open, just re-open.

[2018-04-05 05:30] #2213 closed

[2018-04-05 05:35] marwahaha commented on #4532
I feel like this should be updated in the docs. It's not clear invalid moment objects should change at all.

[2018-04-05 05:38] marwahaha commented on #4531
This is intended behavior. In this case, it is parsed as year=1111, day-of-year=201.

[See this comment](https://github.com/moment/moment/issues/3717#issuecomment-276395363) for more details.

[2018-04-05 05:38] #4531 closed

[2018-04-05 06:03] marwahaha commented on #4370
This does seem weird. Worth further investigation. `.week` can be weird - for example, see [this issue](https://github.com/moment/moment/issues/4219)

[2018-04-05 09:36] jbpenrath commented on #4469
Hi,
To complete this discussion, I encount also an issue with Safari (11.1)

Some string formats are considered as valid on Chrome & Firefox but not on Safari to generate a moment date.

*e.g*:
`moment('2018-3')` will give
**Chrome/Firefox** -> `Thu Mar 01 2018 00:00:00 GMT+0100 (CET)`
**Safari** -> `Invalid Date` but `moment('2018-03')`will be valid on Safari

[2018-04-05 15:17] lad475 commented on #4514
I'd like to try and tackle this feature: it'd be my first contribution to the project, but I think I have a decent idea of how this would work.  Is there anyone who can lead me in the right direction concerning this?  Thanks :)

[2018-04-05 16:15] felixplajer commented on #4514
(I'm working with @lad475) So, right now there's a threshold "d" for days to month. In order to implement this feature, would we need to change the "d" threshold to be days to week and add a "w" threshold for weeks to month? It doesn't seem right to get rid of days to months (not everyone wants to use weeks), but I'm not sure how else to go about it - maybe have two thresholds for days to week and

[2018-04-05 20:25] sobralex000 commented on #4532
Can I claim this issue as my first pr?

[2018-04-05 22:22] extra-mayo commented on #4532
@marwahaha I believe that certain exceptions should be made when it comes to changing invalid moment objects, especially when it concerns method calls such as ```set()```. In this context, Feb 29th is valid every once in a blue moon.

Looking at the source code, it seems that function checks for the validity of the _original_ moment object before trying to make any changes.
[code]
It'd make more s

[2018-04-06 07:22] elipeters opened #4535 "Parsing primitive type undefined as true date"
I'm getting the current date for undefined primitive type...
[code]
Which is the same as `Moment().isValid()` - pointless but ok...

A use case is DyanmoDb not able to accept null entries...

Checking the existence of  date is required to get a good result...

[code]

[2018-04-06 14:08] markstos commented on #1805
@TomJSmith A quick test shows the bug still exists. This code:

     moment().subtract('1 day');

"succeeds", subtracting zero days instead of one day as expected. You can call  `.isValid()` on the resulting date and get a `true` response back indicating the result is valid when it is not.

[2018-04-06 15:04] luckylooke commented on #4439
Reopened:
https://stackoverflow.com/questions/49668241/momentjs-custom-calendar-output-with-reusing-moment-values
Thanks

[2018-04-06 21:57] ispacowanguitar opened #4536 "the `isBefore` method is nondeterministic"
I found this while working on a calendar that needs to disable certain date ranges. It is sometimes off by one.

To reproduce:
1. open chrome dev-tools, type in `moment().isBefore(moment())`
Run it over and over again, it should always be `false`, but sometimes shows `true`. This does not appear to happen with the `isAfter` method. Below is a screenshot.

![image](https://user-images.githubusercon

[2018-04-07 10:15] TheDancingCode commented on #4530
ESLint is a great tool, but deciding on a configuration can be tedious as there's a [long list of rules](https://eslint.org/docs/rules/). That's why most people adopt popular styleguides and configurations like [Standard JS](https://github.com/standard/standard) or [Airbnb](https://github.com/airbnb/javascript). Standard can be used either as an ESLint config, or as a stand-alone tool.

[Prettier]

[2018-04-08 14:12] battaile commented on #4536
It looks like isBefore is behaving correctly but somehow the two moment() objects are sometimes created with the second one having the earlier date.  This is the check that's returning disparate results:
https://github.com/moment/moment/blob/develop/src/lib/moment/compare.js#L26

[2018-04-08 18:58] ArwaLokhandwala commented on #4186
@marwahaha I am first time contributor, I would like to contribute to this issue. Can you help?

[2018-04-09 05:55] kishoreaoe commented on #4323
@extra-mayo , yeap. understood. thanks

[2018-04-09 08:33] marwahaha commented on #2894
@butterflyhug - I'm unable to reproduce the TypeError, even in strict mode.

@SeanDunford  - this seems weird. I don't know if you can trust immutability in 2.x.

I would love help understanding why this object seems mutable, [even if frozen or deepFrozen](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/freeze).

[2018-04-09 08:34] marwahaha commented on #2760
Closing due to age and lack of response. Please open if you are still interested in this.

[2018-04-09 08:34] #2760 closed

[2018-04-09 08:37] marwahaha commented on #2708
I'm not sure we would make a unique ID for this. You should have a single version of Moment installed. I am open to discussion here.

Closing due to age. Please re-open if you still have questions.

[2018-04-09 08:37] #2708 closed

[2018-04-09 08:41] marwahaha commented on #2770
Closing due to age. Options objects are cool, but I don't think we will implement this anytime soon.

Please re-open if there are still questions.

[2018-04-09 08:41] #2770 closed

[2018-04-09 08:43] marwahaha commented on #2673
Closing due to age. Please re-open if you still have questions.

[2018-04-09 08:47] marwahaha commented on #4428
Closing due to age. Let us know if you still have questions.

[2018-04-09 08:47] #4428 closed

[2018-04-09 08:54] marwahaha commented on #3987
Closing due to age. Let us know if you have more questions.

[2018-04-09 08:54] #3987 closed

[2018-04-09 09:04] marwahaha commented on #3917
We're open to creative ways to reduce bundling size in Moment. There are various solutions in issues like these for Webpack and other bundlers. We would love PRs on our [docs repo](https://github.com/moment/momentjs.com) with tips and suggestions.

It's unclear how best to package moment with its locales. Should we publish a package for each locale, (with the existing package publishing all locale

[2018-04-09 09:14] marwahaha commented on #3830
Thanks!

[2018-04-09 09:14] #3830 closed

[2018-04-09 09:15] marwahaha commented on #3771
Closing due to age. If you still have questions please re-open.

[2018-04-09 09:15] #3771 closed

[2018-04-09 09:17] marwahaha commented on #3476
Closing due to age. If you still have questions, please re-open.

[2018-04-09 09:17] #3476 closed

[2018-04-09 09:36] marwahaha commented on #1600
We don't ship individually minified versions of our locale files. We could, but you can also make them yourself with the grunt transpiler ([and the docs show how](http://momentjs.com/docs/#/i18n/loading-into-browser/).

Please re-open if people still really want this.

[2018-04-09 09:36] #1600 closed

[2018-04-09 09:39] #2509 closed

[2018-04-09 09:42] marwahaha commented on #2482
Closing due to age. Please re-open if you still have questions.

[2018-04-09 09:42] #2482 closed

[2018-04-09 09:54] house-md opened #4540 "Error: Can't resolve './locale'"
WARNING in ./node_modules/moment/src/lib/locale/locales.js
Module not found: Error: Can't resolve './locale' in 'C:\Users\###\Projects\###\node_modules\moment\src\lib\locale'
resolve './locale' in 'C:\Users\###\Projects\###\node_modules\moment\src\lib\locale'
  using description file: C:\Users\###\Projects\###\node_modules\moment\package.json (relative path: ./src/lib/locale)
    Field 'browser' d

[2018-04-09 09:59] marwahaha commented on #3260
I see this as more of a documentation concern.

[2018-04-09 10:05] marwahaha commented on #4323
It seems that cloning durations, or creating new durations from existing durations should preserve validity. This seems like a bug to me.

[2018-04-09 10:06] marwahaha commented on #4540
Is this a duplicate of #4505 ?

[2018-04-09 10:08] marwahaha commented on #4506
I can't reproduce either. :/

Please re-open or post on [Stack Overflow](stackoverflow.com) if you are still having trouble.

[2018-04-09 10:08] #4506 closed

[2018-04-09 10:10] marwahaha commented on #4517
Closing. If you still have questions, please re-open or post on [Stack Overflow](https://stackoverflow.com). Have a nice day!

[2018-04-09 10:10] #4517 closed

[2018-04-09 10:12] marwahaha commented on #4501
Closing. If you still have questions, please re-open or post on [Stack Overflow](https://stackoverflow.com). Good luck!

[2018-04-09 10:12] #4501 closed

[2018-04-09 10:13] house-md commented on #4540
@marwahaha it's possible that it's the same issue. I somehow missed that issue when searching for solutions.

[2018-04-09 10:14] marwahaha commented on #4440
This seems reasonable! I think we would take a PR for this.

[2018-04-09 10:14] marwahaha commented on #4540
Ok, closing as a duplicate. There are a couple of workarounds in that ticket, I think.

[2018-04-09 10:14] #4540 closed

[2018-04-09 10:33] marwahaha commented on #3099
I'm going to close this due to age. I think it's ok that some locales don't have a least-specific fallback. I'm open to discussion on this.

[2018-04-09 10:33] #3099 closed

[2018-04-09 10:40] marwahaha commented on #4535
In JavaScript, `moment(undefined)` is the same as `moment()`, which parses to right now: http://momentjs.com/docs/#/parsing/now/

There's not a ton we can do about this, at least in this version of moment.

[2018-04-09 10:40] #4535 closed

[2018-04-09 10:41] marwahaha commented on #2584
Closing due to age. If you still have questions please re-open.

[2018-04-09 10:41] #2584 closed

[2018-04-09 10:43] marwahaha commented on #4344
This is pretty cool!

[2018-04-09 10:44] marwahaha commented on #4260
Closing due to age. Please re-open if you still have questions.

[2018-04-09 10:44] #4260 closed

[2018-04-09 10:47] marwahaha commented on #4186
I'm not sure how to do this, but I would read about Source Map files.
https://www.html5rocks.com/en/tutorials/developertools/sourcemaps/
https://raygun.com/blog/getting-started-with-javascript-source-maps/

[2018-04-09 10:49] marwahaha commented on #4282
What constitutes `official` here? Is there a single accepted way for every language to display dates?

I would be comfortable with a "preferred" date format for each language.

[2018-04-09 10:50] marwahaha commented on #2349
Closing due to age. please re-open if you would still like this.

[2018-04-09 10:50] #2349 closed

[2018-04-09 10:52] marwahaha commented on #2415
If you can get something working across all languages, with tests, we'll look at a PR.

[2018-04-09 10:56] marwahaha commented on #2335
Closing due to age. Hopefully everyone has what they need now and the docs discuss the `transpile` task.

[2018-04-09 10:56] #2335 closed

[2018-04-09 10:58] marwahaha commented on #2154
Fixed!

[2018-04-09 10:58] #2154 closed

[2018-04-09 11:01] xeii commented on #4282
"Preferred" would be fine for me. I have to work with finnish, swedish and english locales, at least for those there are "official" date formats. If there is a support for this kind of translation key, each format can then be drive by the community. I think they will know best.

[2018-04-09 11:01] marwahaha commented on #2113
@selfawaresoup @GabiAxel - is this still an issue?

[2018-04-09 11:01] marwahaha commented on #2165
Closing due to age. Still, a cool idea, please open a PR if you're interested.

[2018-04-09 11:01] #2165 closed

[2018-04-09 11:07] GabiAxel commented on #2113
I haven't consumed it as AMD for a while, so it's no longer an issue for me.

[2018-04-09 11:10] marwahaha commented on #2710
I don't think this is a great idea. If you would like to use this mid-sentence, you can lowercase the output from moment, and capitalize only the first letter of the sentence.

It seems like a lot of extra weight in moment to have both uppercase and lowercase versions of `Today`, `Tomorrow`, etc.

Please re-open if you feel strongly about this.

[2018-04-09 11:10] #2710 closed

[2018-04-09 12:15] ArwaLokhandwala commented on #4186
Ok cool, even I’ll look into it👍🏻And raise a PR!!

[2018-04-09 16:05] ispacowanguitar commented on #4536
I see, thanks for looking into it and getting back to me!

[2018-04-09 19:07] SeanDunford commented on #2894
@marwahaha - We've switched to Luxon now. At the time we weren't ready to use 3.x.

[2018-04-09 20:11] holmesrm23 opened #4541 "toObject() and toArray() yielding incorrect Month as Integer"
Console outputs:
Mon Apr 09 2018 16:10:02 GMT-0400 (Eastern Daylight Time)
4/9/2018, 4:10:02 PM
240
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36
2.18.1

Using either method toArray() or toObject() and getting back the wrong month.

[2018-04-09 21:19] Tom-Bonnike commented on #4530
Would you be interested in using `clean-slate` to do that, by any chance? 🙂https://github.com/Tom-Bonnike/clean-slate.

Or would you rather roll your own config? In any case, I strongly recommend you setup a git hook to run ESLint and Prettier on all staged files before every commit, automatically. `husky` and `lint-staged` are great for that. :)

My suggestion would be that you use ESLint-Standar

[2018-04-10 00:52] #2821 closed

[2018-04-10 00:53] #4020 closed

[2018-04-10 00:54] marwahaha commented on #4541
Note that months are zero-indexed, so January is month 0.

https://momentjs.com/docs/#/get-set/month/

Please re-open if you have other questions.

[2018-04-10 00:54] #4541 closed

[2018-04-10 04:03] Kunoky opened #4542 "When I use endOf and then use format, the second and minute will turn abnormal"
`const moment = require('moment')

console.log( moment(new Date()).endOf('day').format('YYYY-MM-DD HH:MM:SS'));  // 2018-04-10 23:04:99`

[2018-04-10 04:24] #4542 closed

[2018-04-10 07:30] house-md commented on #4505
I have the same warning using angular-cli any solution?

[2018-04-10 07:51] ebdrup opened #4543 "moment('2017-01-01', 'YYYY-MM-DD').format('YYYYWW') => '201752'. Should be last week of 2016 instead right?"
**Description of the Issue and Steps to Reproduce:**
`moment('2017-01-01', 'YYYY-MM-DD').format('YYYYWW') => '201752'`. Should be last week of 2016 instead right?

**Environment:**
Node.js v8.11.1 on OSX High Sierra v10.13.4

**Other information that may be helpful:**
TimeZone: Copenhagen

[code]

[2018-04-10 13:06] jemartin80 commented on #580
I stumbled across this, and it's been updated since 2013. The best way to do this now is

[code]

[2018-04-11 07:03] marwahaha commented on #4543
The `YYYY` refers to the year, which is 2017.
The `WW` refers to the ISO week, which is 52.

You could use `moment('2017-01-01').isoWeekYear()` to get 2016.

Better yet:
[code]

see http://momentjs.com/docs/#/displaying/ and https://en.wikipedia.org/wiki/ISO_week_date for more information.

If you have more questions, please re-open! :)

[2018-04-11 07:03] #4543 closed

[2018-04-11 07:25] marwahaha commented on #3645
Closing for now. Please re-open if there are still issues.

[2018-04-11 07:25] #3645 closed

[2018-04-11 07:28] marwahaha commented on #3080
I think this works now. Just tested on Chrome.

Please re-open if it's still a problem.

[2018-04-11 07:28] #3080 closed

[2018-04-11 07:30] marwahaha commented on #1788
Nowadays, we print out `Invalid date`.
[code]

[2018-04-11 07:30] #1788 closed

[2018-04-11 07:33] marwahaha commented on #1793
The output of `diff` can be passed into the duration constructor:
[code]

[2018-04-11 07:33] #1793 closed

[2018-04-11 07:35] marwahaha commented on #1697
This is no longer the case (tested in 2.22.0)
[code]

Please re-open if there are still issues.

[2018-04-11 07:35] #1697 closed

[2018-04-11 07:48] marwahaha commented on #2894
Ok, I will close and assume Object.freeze does not work for `moment`s in 2.x.

[2018-04-11 07:48] #2894 closed

[2018-04-11 07:55] marwahaha commented on #2113
I'm going to close. If any current AMD users still have bugs, do open an issue!

[2018-04-11 07:55] #2113 closed

[2018-04-11 07:59] marwahaha commented on #4385
Unfortunately, I don't have the time to help you fix this, but maybe someone else in the community can help out.

[2018-04-11 08:02] marwahaha commented on #4532
@extra-mayo fair point, but I think the intent of `Invalid date`s is that they are forever `Invalid`; any changes to an invalid date will not cause a date to regain validity.

[2018-04-11 08:02] marwahaha commented on #4532
@sobralex000 - go for it, the docs repo is https://github.com/moment/momentjs.com

[2018-04-11 08:42] marwahaha commented on #4471
Thanks for the suggestion. It's in our list here:

[2018-04-11 08:42] #4471 closed

[2018-04-11 08:44] marwahaha commented on #4422
@VanessaChu - do you still have a problem?

[2018-04-11 08:46] marwahaha commented on #4394
Thanks Baelyk!

@vgalkin - Please re-open if you have other questions.

[2018-04-11 08:46] #4394 closed

[2018-04-11 08:51] #4322 closed

[2018-04-11 08:52] #3260 closed

[2018-04-11 08:54] marwahaha commented on #4507
I don't love this, but if the first argument in `isSameOrAfter` is not a `moment`, it gets treated like the input to the `moment()` constructor.

Do you think the `.utc.isSameOrAfter()` should work differently?

[2018-04-11 08:57] marwahaha commented on #4006
This was fixed awhile back.

[2018-04-11 08:57] #4006 closed

[2018-04-11 09:04] marwahaha commented on #3998
@suupic or @zenozeng - thoughts?

[2018-04-11 09:04] marwahaha commented on #3998
@suupic or @zenozeng - thoughts?

[2018-04-11 09:06] marwahaha commented on #2998
Haven't seen this in over a year. I'm going to close this

[2018-04-11 09:06] #2998 closed

[2018-04-11 09:15] marwahaha commented on #4536
I think it depends on the exact millisecond the moments are created. The fact that the second is ever created after the first feels like a browser bug.

There is a more extensive conversation around this topic here: https://github.com/moment/moment/issues/2697

[2018-04-11 09:17] marwahaha commented on #4421
i'm going to close this. I recommend you bring it up here: https://github.com/jsmreese/moment-duration-format

Good luck!

[2018-04-11 09:17] #4421 closed

[2018-04-11 09:18] marwahaha commented on #4387
@jeeeyul @bigtone1284 @JunhoKim01 @xdumaine - thoughts?

[2018-04-11 09:27] marwahaha commented on #2468
closing in favor of https://github.com/moment/moment/issues/4325

[2018-04-11 09:27] #2468 closed

[2018-04-11 09:27] marwahaha commented on #2466
@riddla - do you still have this issue?

[2018-04-11 09:34] riddla commented on #2466
Sorry, my RequireJS days are long over and can't (re-)test it :)

[2018-04-11 09:48] xehpuk commented on #4507
I'd find it more logical as comparisons between local and UTC moments should be the exception. (At least I think so.)

[2018-04-11 10:53] azrull opened #4545 "isSame for time not working"
`<p class="timeSolat"></p>
        <p class="Subuh">6:44:00</p>
        <script src="jquery-3.3.1.min.js"></script>
        <script src="moment.js"></script>
        <script type="text/javascript">
        var Subuh = moment($('.Subuh').text()).format('h:mm:ss').toString();
        var clock = moment().format('h:mm:ss').toString();
        setInterval(
            function(){
             $('.time

[2018-04-11 13:49] chartierpw opened #4547 "error at this line return s.replace(/\([^)]*\)|[\n\t]/g, ' ').replace(/(\s\s+)/g, ' ').trim();"
All of a sudden, today, after using moment.js for about a month I now get an error, every time, at line# 2280, return s.replace(/\([^)]*\)|[\n\t]/g, ' ').replace(/(\s\s+)/g, ' ').trim();,  in the moment.js file, I receive the following error:

0x800a01b6 - JavaScript runtime error: Object doesn't support property or method 'trim'

Why, all of a sudden, am I getting this?

[2018-04-11 15:35] chamini2 commented on #4217
What about not having any language set and instead having moment/core throw if no language is imported? That way other languages developers don't **have** to have an `en` locale added to their payload.

[2018-04-11 16:57] rockneverdies55 commented on #2805
In my case, setting the locale by `.locale('en')` call has fixed the problem.

[2018-04-12 01:28] marwahaha commented on #4547
How are you using `moment`? What command are you running to get this error? Where are you running `moment`?

[2018-04-12 01:29] marwahaha commented on #4545
Where are you running this? How are you using `moment`? I don't see any `isSame` in the snippet you provided.

[2018-04-12 04:07] chartierpw commented on #4547
I'm using moment.js with jQuery in an asp.net application where I'm calculating monthly payments, my code:

                    totalmonths = moment(paymentbydate).diff(startdate, 'month') + 1; // add extra month because 1st payment is today and that takes away a month
                    var totalamount = ((amountdue / totalmonths) + ((amountdue / totalmonths) * processingfee));

[2018-04-12 05:04] EthanChouTW commented on #4202
hey hi did you figure out what't going on?  facing the same issue here

[2018-04-12 05:25] marwahaha commented on #2466
Ok, closing. For those reading, please open a new issue if you are having trouble with this.

[2018-04-12 05:25] #2466 closed

[2018-04-12 19:46] rahulmishra opened #4549 "Invalid Date Format considered valid"
**Description of the Issue and Steps to Reproduce:**
1. Please Go to[ JS Fiddle](http://jsfiddle.net/remus/rLjQx/) and paste the following lines of code
2.
[code]
3. Expected output of variable 'x' - False
    Actual output of variable 'x' - True
**Environment:**
*Chrome 65 on Windows 7 (Doesn't seem browser specific though)*

If you are reporting an issue, please run the following code in the env

[2018-04-12 19:58] rahulmishra commented on #4549
Never mind, this issue seems to be resolved with 2.3.1, will switch to latest version and reverify

[2018-04-12 19:58] #4549 closed

[2018-04-12 21:24] mimen opened #4550 "Handling goduration string format using moment durations"
**Description of the Issue and Steps to Reproduce:**

Moment doesn't currently support the goduration string format. Lead to us having to implement a converter. For reference, the goduration strings look like: `23h40m0s550ms` etc.

**Other information that may be helpful:**

Wrote something like this to handle our limited use case:

[code]

Obviously this doesn't handle the entire feature set of t

[2018-04-13 05:53] marwahaha commented on #4550
This is an interesting idea.

How does Go interact with JS? Is it common that Go calls out to JS packages like `moment`?

[2018-04-13 06:09] marwahaha commented on #4476
Is there a simple way to fix this issue? Is the parentLocale pointer useful?

If we can't change existing behavior, docs explaining this behavior would be appreciated.

[2018-04-13 06:11] marwahaha commented on #1751
This was done in 2.20.0:
[code]
https://momentjs.com/docs/#/displaying/as-iso-string/

[2018-04-13 06:11] #1751 closed

[2018-04-13 06:17] marwahaha commented on #1773
The deprecation has a link to http://momentjs.com/guides/#/warnings/js-date/

The guides http://momentjs.com/guides/ have info on Mutability, Parsing, locales, and we point to http://momentjs.com/docs/#/plugins/duration-format/, and we have info about DST http://momentjs.com/docs/#/query/is-daylight-saving-time/.

Of course, improvements to these are always welcome.

[2018-04-13 06:17] #1773 closed

[2018-04-13 06:23] #1877 closed, assigned to nobody

[2018-04-13 06:36] marwahaha commented on #2793
Closing due to age.

[2018-04-13 06:36] #2793 closed

[2018-04-13 06:39] marwahaha commented on #2274
@Menelion @Oire - thoughts?

[2018-04-13 06:56] marwahaha commented on #4097
seems similar to https://github.com/moment/moment/issues/4006

@ben-lin @suupic thoughts?

[2018-04-13 06:58] marwahaha commented on #4073
@ovangle @chrisleck What's the best way to fix this?

[2018-04-13 08:06] ThomasLabstep commented on #2781
+1 - Looking for this right now.

[2018-04-13 10:02] dimik opened #4552 "moment.calendarFormat returns lastDay"
[code]

or without now argument

moment.calendarFormat(moment(moment().format()))

returns 'lastDay' but 'sameDay' is expected

[2018-04-13 10:27] marwahaha commented on #3946
Up for grabs for a 2.x change.

[2018-04-13 10:34] marwahaha commented on #3980
I don't think it's related to the last day of the month.
[code]

There's something weird about the hour of the later `moment` being behind the earlier `moment`.

[2018-04-13 10:45] marwahaha commented on #4552
This has to do with how JavaScript executes the arguments:
[code]

[As stated in the docs](https://momentjs.com/docs/#/customization/calendar-format/), moment.calendarFormat's second argument should be `now`, so I think it's ok to have it be strictly later than the first argument in order for it to be the `sameDay`.

So, I will close this. Let me know what you think, and re-open if you disagree.

[2018-04-13 10:45] #4552 closed

[2018-04-13 14:48] markstos commented on #1805
Yes, this bug is bad and has been open since 2014. This is something that the "date-fns" projects gets right. They actually tell you if  invalid input is invalid. https://date-fns.org/  Unfortunately, date-fns doesn't handle time zone conversions, but perhaps there's a way to handle those with an external library.

For the Moment project to fix this, they have to quit accepting garbage input and t

[2018-04-13 16:40] chrisleck commented on #4073
IMO, the typing is currently incorrect - `void` is not a valid parameter type in any type library I've seen.  Passing `null` into the moment constructor is allowed and returns a well-formed invalid moment.  I strongly believe the typing should be changed to remove void and replace it with `undefined | null`.

[2018-04-13 19:30] kenmorechalfant opened #4559 "Parcel: import works but require "moment is not a function""
I've installed Moment via Yarn and in my client side script (which compiles with Parcel and Babel), if I do:

`var moment = require('moment')`

Then, whenever I try to use it I get the error `moment is not a function`. Which led me to [this comment](https://github.com/palantir/blueprint/issues/959#issuecomment-335965129) from an issue on a different project to try:

`var moment = require('moment')

[2018-04-14 09:06] opjlmi commented on #4202
@EthanChouTW Yes, that because you need to install [Moment-Timezone](http://momentjs.com/timezone/docs/) package.
And use `moment.tz.setDefault("Asia/Taipei")` to set the default timezone.

[2018-04-14 17:15] azavisha commented on #4217
This is just a simple workaround, not a solution.

I don't use any locales, so I just added this to my `package.json`. This removes all locale files during the packge installation, which obviously prevents webpack from importing them.

[code]

If you need to keep one of the locales (`en-ca` for example), instead of `rm` command, you can use something like this:

[code]

Please don't use these comm

[2018-04-14 20:57] marwahaha commented on #4559
What version of `moment` are you using?

[2018-04-15 05:29] marwahaha commented on #2940
This functionality is available - I put up a PR that translates the `es` locale. We could do this across all files.

I'd prefer to document this ability, and leave it up to the locale maintainers to decide if they want this feature.

[2018-04-15 06:09] #4347 closed

[2018-04-15 10:25] rishu2482 commented on #4440
thanks. Will submit a PR as soon as possible.

[2018-04-15 10:42] ashsearle commented on #4476
@marwahaha The only explanation I can find for current behaviour of creating a new Locale with a parentLocale pointer is to allow unit-tests to clean-up after themselves.  I've created a PR which still allows for this, while avoiding memory leak in the general case.

[2018-04-15 19:05] salapao2136 opened #4562 "Help me please topic `moment.duration(moment('2018-01-31').diff(moment('2018-01-01')))._data`"
I want return data
## Expect
[code]
## Now
[code]

[2018-04-15 19:53] fstanis commented on #4532
Just came across this issue as well.

The documentation does mention it in the [Validation](http://momentjs.com/docs/#/parsing/is-valid/) part:

That said, I'd like it very much if we could change the behaviour of `set` here, since my current use-case seems impossible as it is now. Namely, I get dates in the `DD MMM` format and then later figure out the year:

[code]

The way it is now, I need to

[2018-04-15 20:31] ellenaua commented on #4098
Moment-timezone has a hook `updateOffset()` here https://github.com/moment/moment-timezone/blob/develop/moment-timezone.js#L528-L550
That hook is called after any manipulation with a date (adding or subtracting days, hours, etc) and updates `_offset`, because there may be Daylight Saving time shift.
What that hook does:
- gets timezone saved in `._z` property of moment object OR `moment.defaultZon

[2018-04-15 22:06] mikeweltejr commented on #4562
The difference here is only 30 days technically so it won't return 1 month. If you did the difference between 12-31-2017 you would see the difference be 1 month not 30 days.

[2018-04-15 23:11] icambron commented on #4098
good analysis @ellenaua. want to writ ea pull request?

[2018-04-15 23:30] mikeweltejr commented on #4323
@marwahaha I took a look at this and the issue is not exactly with cloning, the issue is within the Duration constructor. When you pass in NaN it uses this to determine validity but sets all data objects to 0. Now when you clone the object is in fact valid because it has 0 for all it's data properties. So I guess the question is should it use 0 for validity check when NaN is passed in? Or should i

[2018-04-16 01:37] mikeweltejr commented on #4323
Cool I’ll take a stab at this and submit a PR.

[2018-04-16 02:15] kenmorechalfant commented on #4559
@marwahaha 2.22.1

[2018-04-16 08:01] jeffhtli commented on #4422
[This solution](https://github.com/moment/moment/issues/1875#issuecomment-263220119) works for me

[2018-04-16 09:26] ashsearle commented on #4547
@chartierpw `trim()` was first defined in the [December 2009 version of JavaScript](https://www.ecma-international.org/publications/files/ECMA-ST-ARCH/ECMA-262%205th%20edition%20December%202009.pdf) - and it's been in Internet Explorer since IE9.

The line using `trim()` in moment was added [9 months ago](https://github.com/moment/moment/blame/develop/src/lib/create/from-string.js#L131), and has b

[2018-04-16 10:07] ashsearle commented on #4536
Looks fine to me.

Compare `moment().isBefore(moment())` with:
`somethingThrowingAnError().method(somethingWithSideEffects())`

You wouldn't expect or want `somethingWithSideEffects()` to be called when an error is thrown.

[2018-04-16 10:38] ashsearle commented on #4532
@fstanis The current behaviour seems easy to explain (once invalid a moment stays invalid.)  I think it would be difficult to explain behaviour that tried to somehow keep track of the valid bits of an invalid moment, eventually leading to a full-blown resurrection from invalid to valid...

Comparing to prior art: the only way to restore a native instance of `Date` is to call [`setFullYear`](https:

[2018-04-16 10:39] chartierpw commented on #4547
Wow ... not running on Windows 7 in IE v11.  I add the .trim() back in the moment.js and the script fails, take it out and it runs..  I literally ran the code just fine on one run and then the very next run, 10 seconds later, it failed.  I had made no changes to my javascript (jQuery) code, only a procedural change in the process I was testing.  I use Visual Studios 2013 v12.0.40629.00 Update 5, Q

[2018-04-16 10:47] ashsearle commented on #4547
See [MSDN](https://docs.microsoft.com/en-us/scripting/javascript/reference/trim-method-string-javascript)

Perhaps something else is triggering the page to render in quirks mode instead of standards.  You might be able to check this [according to stackoverflow](https://stackoverflow.com/a/627124/98493) doing:

[code]

[2018-04-16 11:13] chartierpw commented on #4547
Added that line of code and it reports that I am in Standards mode ....

[2018-04-16 11:26] fstanis commented on #4532
So, it's actually a Node.js app that's processing data previously stored in the "DD MMM" format from a set of documents. I infer the date through other means, in a second pass, using a different storage where the metadata is stored that contains the year. Essentially, it's a big mess and I'm using moment to correct the date format and have it include the year (among other things).

A niche use-cas

[2018-04-16 11:48] chartierpw commented on #4547
I'm not using the Edge browser, I'm using IE 11 .... I didn't think to test it with Chrome or Firefox, so I did.  It fails only with IE v11 11.0.49 (KB4052978), set to update automatically ... strange ....

Setting compatibility mode for localhost did nothing ... still fails at the same line .... seems like the problem is with IE 11.

Haven't tested with Edge yet, my development environment is on

[2018-04-16 11:51] GomuGilad6 commented on #4507
@marwahaha I will be happy to give it a try!

[2018-04-16 12:51] jalfonso commented on #4426
Just wanted to add that this is a common abbreviation in North American higher education;  there are widely used, decades-old campus systems which use a single letter abbreviation for each day of the week.

Examples:  https://www.google.com/search?q=thursday+abbreviation+r+site%3Aedu

[2018-04-16 12:54] chartierpw commented on #4547
Just so you know, the error occurs whether I'm in comparability mode or not.  IE 11 v11 11.0.49 (KB4052978) apparently has an issue which will never be fixed by Microsoft as, as far as I know, they have discontinued updates.  Correct me if I'm wrong ....

[2018-04-16 13:27] ashsearle commented on #4547
I'm not sure about MS approach to updates for IE11.  They still seem to push out the occasional random patch (e.g. [KB4089187](https://support.microsoft.com/en-gb/help/4089187/cumulative-security-update-for-internet-explorer) published a month ago.)

However... moment docs (still) claim to support IE 8, which definitely doesn't have `trim()` - so we shouldn't be using it.

I've raised PR #4564 to

[2018-04-16 14:46] vbbalaji opened #4565 "Deprecated message on Chrome"
**Description of the Issue and Steps to Reproduce:**
Im converting a date string to moment date and get the month value using moment(dateStr).month. Im getting the below error message.

moment.js:297 Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls back to js Date(), which is not reliable across all browsers and versions. Non RFC2822/ISO d

[2018-04-16 16:14] jamespedid commented on #2945
I'm confused why the _tzm field isn't used to automatically set the utcOffset. We found use in using this.

[2018-04-16 16:54] fstanis commented on #4532
@ashsearle I see, good point.

@linqcan Mind sharing what path you took? Right now, the change requires me to change both the input and the format, which I'm reluctant to do if there's a better way.

---

Overall, I see two separate issues here:

-    `moment('29 Feb', 'DD MMM')` is flaky in a sense - the success of that function depends on the current year, so code that relies on it will literall

[2018-04-16 17:39] ashsearle commented on #4532
@fstanis Moment already has a bunch of stuff to analyse why a newly created moment is invalid.

Take read through the [validation docs](https://momentjs.com/docs/#/parsing/is-valid/) and check the result of `parsingFlags()` on an invalid moment - particularly the `overflow` flag (which can also be accessed using `invalidAt()` - although it's admittedly a little cryptic.)

Personally: I dislike the

[2018-04-16 17:43] stephenway commented on #4519
Can confirm this is happening on 2.22.1 also.

[2018-04-16 18:57] adsingh14 opened #4568 "Need to declare word 'next' in locale."
**Description of the Issue and Steps to Reproduce:**
Filepath: [**src/locale/pa-in.js**]

*Please include the values of all variables used.*
Need to include object's property(nextWeek) value **[next]**.
**current build:** nextWeek : 'dddd, LT',
**requested change:** nextWeek : '[next] dddd, LT',

With Best,
Aman

[2018-04-16 19:30] linqcan commented on #4532
@fstanis The path was that we decided against supporting February 29. Not a generic solution but will work for our purposes.

[2018-04-16 19:56] ellenaua commented on #4098
yes, will send a PR later

[2018-04-16 21:50] vbullinger opened #4569 "Line Breaks in Formatting Don't Work"
If I say moment(myDatetime).format('something\nsomething else'), the line break is not interpreted as a line break. Doesn't matter if I surround \n with square brackets, add a space to either side of the square brackets, if I say <br /> instead of \n, etc.

[2018-04-16 21:56] kylethebaker commented on #3582
I understand this is already closed, but I figured I'd add my two cents anyways. I think this would be a useful feature to add, we are doing a fair bit of work to work around halves. Getting the actually half is trivial:

[code]

Where it gets frustrating it having dynamic calendar periods for everything except halves when generating 'to-date' ranges. For example, a month-to-date filter can be spe

[2018-04-17 08:09] tiandongmao commented on #3176
I got it to work by this way:

import * as moment from "moment";

export class MyApp {
    Moment: any;
    ...
   this.Moment = moment;
   this.Moment.defaultFormat = "YYYY-MM-DDTHH:mm:ss.SSSZ";
  ...
}

[2018-04-17 09:31] ashsearle commented on #4568
Do you mean there's a Punjabi word missing in the locale file?  So, not 'next', but perhaps 'ਅਗਲਾ' ?

[2018-04-17 09:36] ashsearle commented on #4565
Can you gives us an example value for `tEvent.actstartdt` being used in

[code]

Where does that value come from?  Is there a reason it isn't or can't be provided in a format matching one of the standards mentioned? (ISO8901 or RFC2822)?

[2018-04-17 10:30] adsingh14 commented on #4568
@ashsearle Actually the object [next] makes real sense while telling time in Punjabi.

[2018-04-17 10:38] ashsearle commented on #4568
@adsingh14 In the context of [the line you want to change](https://github.com/moment/moment/blob/develop/locale/pa-in.js#L54) - the lines above and below all use punjabi, so it seems strange to suggest putting the English word 'next' in there:

[code]

[2018-04-17 10:40] ashsearle commented on #4568
Hmm... now that I've just cut'n'pasted that.  Are nextDay and lastDay using the same word?  That seems a bit confusing...

[2018-04-17 10:44] adsingh14 commented on #4568
I figured it according to the property 'lastWeek'.

ie: lastWeek has an object [prev/ਪਿਛਲੇ]. So why nextWeek don't have [next] ?

[2018-04-17 10:45] adsingh14 commented on #4568
That's makes sense in Punjabi language. 😅

[2018-04-17 10:47] adsingh14 commented on #4568
@ashsearle

I figured it according to the property 'lastWeek'.
ie: lastWeek has an object [prev/ਪਿਛਲੇ]. So why nextWeek don't have [next] ?

That's make sense in Punjabi language. 😅

[2018-04-17 10:58] ashsearle commented on #4568
Now I'm really confused: I don't see the word 'prev' anywhere in [`src/locale/pa-in.js`](https://github.com/moment/moment/blob/develop/src/locale/pa-in.js)

What are you referring to?

I can't read a single thing in punjabi, but checking [unicode consortium survey tool](http://st.unicode.org/cldr-apps/v#/pa/Fields/59d8178ec2fe04ae) and Google Translate, it looks like 'tomorrow' is  ਕਲ, and 'yester

[2018-04-17 11:32] vbbalaji commented on #4565
Found it! The DB service was sending null value in a quoted string. So the above function was trying to convert "NULL" into a date. I did have a check to handle null and "" but not this.
However, my question is why would it give a deprecated warning?

[2018-04-17 11:32] adsingh14 commented on #4568
@ashsearle ਕੱਲ੍ਹ is same for next & prev day.

next is ਅਗਲਾ
prev is ਪਿਛਲਾ

This is Punjabi grammar.

[2018-04-17 12:06] ashsearle commented on #4565
As is says in the warning:

Unreliable means unpredictable, so deprecated.

[2018-04-17 23:28] masterkidan commented on #3104
Is there any plan to fix this? See that the issue has been open for more than a year, and it doesn't help with tree-shaking.

[2018-04-18 02:57] linhmanh92 commented on #3488
@ziaulrehman40 worked for me, thanks so much

[2018-04-18 09:42] ufolux opened #4571 "TS report a type error about Moment.add method"
**Environment:**

React-Native 0.55 iOS

* Other libraries in use TypeScript

If you are reporting an issue, please run the following code in the environment you are using and include the output:
[code]

When I call method add on a moment object, TS report a type error on the first argument `offsetFromToday` which type is number. But I find the first argument of this method is

[code]

which inclu

[2018-04-18 11:36] Mobashir1995 opened #4572 "ReferenceError: moment is not defined"
I've use the latest version of moment js and include the minified js at the top of my script.

Most of the time the moment timer is working fine, but sometimes it gives a error, which says,

I can't detect what is the problem. Because I've used the same code, but why sometimes it gives the error?

[2018-04-18 14:36] jamespedid opened #4573 "Parsing a date does not write _tzm on the moment object."
**Description of the Issue and Steps to Reproduce:**
When parsing moment from a date object, the _tzm property is not being set. This can be set more accurately by setting the value to -date.getTimezoneOffset()

[code]
Note: not depicted here is parsing from new Date().toString(). This also does not set the _tzm value.

Compare this to first casting it into a string and then using the moment:

[co

[2018-04-18 15:26] jamespedid commented on #4573
Note that chrome and firefox (and maybe others) will return a date in a bastardized RFC2822 format that has the month and day switched. Perhaps the regexp can be adjusted to account for this?

[2018-04-18 19:10] boneskull opened #4574 "drop support for Node.js v4"
In a little under two weeks (April 30, 2018), Node.js v4 will be End-of-Life'd.

(Related: I see the `engines` prop of `package.json` contains `"node": "*"` which should be updated; the build matrix does not test against versions of Node.js older than v4.)

I wanted to encourage the Moment team to drop support for this version as soon as is feasible. This can be as simple as removing the version f

[2018-04-19 14:03] d-damien opened #4579 "moment.weekdays() is localized, but order is not ISO"
It has been localized in #3284, but the order is still not ISO. I guess since the order is localized IRL, we might as well keep `moment.weekdays()` that way, but it would be nice to have `moment.isoWeekdays()`, that would be both ISO and localized − same syntax as `moment().isoWeekday()`.

[2018-04-19 14:28] ybbarng commented on #4480
There are two points I want to ask.
1. What is the single G means? I can find only double G (GG) or four Gs (GGGG) have meanings, not a single G. It looks like that it means a single year digit (one digit), but it is not documented.

2. A single 'A" character has also meaning (am/pm), but it says that normal 'A' character is also valid. The followings are all true.
moment('A_20180307', 'A_YYYYMMDD

[2018-04-19 14:43] d-damien commented on #4579
I imagine we also need `moment.isoMonths()`, as I believe year does not start on January in all countries. Not sure how this goes with `moment.months()`.

[2018-04-19 15:27] maxiejbe commented on #559
Probably too late :smile: @timrwood function has a little but important bug:

[code]
Note that I'm cloning input, as moment objects are mutable.
Thanks!

[2018-04-20 08:28] d-damien commented on #4579
I should have provided a use case, you are right. My use case is that I sort data according to their weekday, in a context where (despite english conventions and language), ISO weeks are used. Like :

[code]

I have to add `line 2` for going from english weeks to ISO weeks, and I feared that in case of multilingual applications, that would require a whole lot of checking for how different language

[2018-04-20 08:29] ashsearle commented on #4573
How can you tell if it's appropriate or inappropriate to pull the timezone off a date?

What's the timezone of `new Date(1524212917295)` - how do you know if I wanted that timestamp in UTC or my local timezone?

Isn't `_tzm` an implementation detail?  Are you writing a plugin or something that relies on it?

[2018-04-20 08:49] ashsearle commented on #4579
You can remove line 2 if you make line 3 more complicated:
`let sortFunction = d => (weekdays.indexOf(d) || 7)`

[2018-04-20 09:24] ashsearle commented on #4579
A couple more thoughts: I assume there's a reason you're sorting by weekday _name_ (e.g. you don't have a date.)  If you need to handle abbreviations too, you should look at `moment.localeData().weekdaysParse(nameOfWeekday)` - as that handles the abbreviated versions too - case-insensitively: e.g. Th, Thu, Thursday.

Regarding your suggestion about `isoMonths()` - do you know of any locale with a

[2018-04-20 09:37] d-damien commented on #4579
That would be a lot to add indeed. I think most of the time, people will stick to the locale's weekdays order, and not make a mess with ISO like we do (hopefully they will report it here if they don't).

[2018-04-20 09:37] #4579 closed

[2018-04-20 17:48] javiersm79 commented on #2962
This Solution Worked for me.. [Here](https://github.com/moment/moment/issues/2962#issuecomment-185637815)

[2018-04-20 19:06] mxdi9i7 opened #4580 "moment(date).isValid() doesn't return true for Febuary 29"
**Description of the Issue and Steps to Reproduce:**
validation for febuary 29th returns false

*Please include the values of all variables used.*
NA

**Environment:**
Node.js dev environment

[2018-04-20 19:09] mxdi9i7 commented on #4580
`expect(moment('29 Feb 1970 00:12:00 GMT').isValid()).toBeTruthy()` I was running tests against the dates I received on client side, but when tested against Febuary 29th it returns false. Other dates like 30th of April passes the validation however.

[2018-04-20 19:10] mxdi9i7 commented on #4580
I know there is a `isLeap()` method that checks whether or not a year is leap, but doing that on top of isValid feels unnatural.

[2018-04-20 21:39] Ohar opened #4581 "removed"
removed

[2018-04-20 21:40] #4581 closed

[2018-04-20 22:50] repl-chris opened #4582 "Better support for +00:00 offset, apart from UTC"
It would be nice if moment could disambiguate between UTC timestamps and timestamps with +00:00 offsets.  Technically they're identical obviously, but they have a semantic difference - "this is a UTC world-time adjusted timestamp" vs "this is a local timestamp that just happens to have the same offset as UTC".
[code]

I understand the reasoning behind the existing functionality, but it is unfortun

[2018-04-21 04:50] knittingdev commented on #4503
@FloV22 I was unable to re-create your issue using a simple webpack demo app. Is there any more information you can provide regarding this issue?

You can see my attempt by looking at https://github.com/knittingdev/moment-issue-4503

You'll notice two branches `moment-2.21.0-test` and `moment-2.20.1-test` which are attempting to recreate your issue given your recreation steps.

Please let me know

[2018-04-21 10:28] ashsearle commented on #4580
`moment('29 Feb 1970 00:12:00 GMT').isValid()` should - and does - return `false`

Why would you want it to return `true`?

[2018-04-21 10:30] ashsearle commented on #4582
What benefit does this 'better support' give?

I'm struggling to see a benefit to knowing something is in 'local time' without also knowing a location.  Without location you can't do date arithmetic with DST changes, so... what's the point of being able to distinguish between `+00:00` and `Z`?

[2018-04-23 10:38] GopiKrishna87 opened #4584 "Facing issues while using duration and diff methods"
Dear Respectives,

I am new to using moment js, I have a requirement where the user gives input in terms of days or months or years, and I have to convert them into years, months and days.
Example:
Case -1 : User inputs 1 month, and I have to calculate and show him as 0 Years 1 month 0 days, but I seeing different result with below code
OR
Case - 2: User input 30days and expects to convert it to 1

[2018-04-23 12:56] GopiKrishna87 commented on #4584
Thank you for your explanation but what could be the reason for below case

[code]
**Result-**  _0, 11, 30_

The current year is not a leap year, my expectation is 1 year, why I am not getting that result? am I missing something again?

[2018-04-23 13:11] ashsearle commented on #4584
Duration's aren't tied to a specific point in time.

Downside is that the conversion from days to months & years may not match what you expect.
Upside is that the conversion is stable.

[code]

[2018-04-23 14:26] GopiKrishna87 commented on #4584
Thank you Ash for your time and suggestion.

[2018-04-23 16:05] suprMax opened #4585 "Reference error: moment.localeData broken for Spanish (es) locale when trying to serialize"
There is a small issue with `es` locale.

We use `moment.localeData(LOCALENAME)._config` to package all locale data for FE application (only one locale is loaded at a time) and it currently produces a reference error for `monthsShortDot` variable. Since the function `monthsShort` references a variable from upper scope it's not available after de-serialization.

In all other locales we used so far

[2018-04-23 17:57] deksden opened #4586 "1 test failed. diff:diff overflow (2887.2)"
### Client info
[code]

====

### diff:diff overflow (2887.2)

hour diff

[code]

[2018-04-23 22:07] vbullinger commented on #4569
I was doing that. I ended up doing this (TypeScript):

`{moment(lastSaved).format('M/D/YY')} <br /> {moment(lastSaved).format('h:mm:ss a')}`

[2018-04-24 03:02] wanghz2 opened #4587 "Only last imported moment/locale/xx take effect"
reproduce this issue on react-native with moment@2.21.0.

import es from 'moment/locale/es';
import fr from 'moment/locale/fr';

moment.locale('es');
console.log(moment.locale());

expect above code return es, but always fr, so moment(time).format(format) is in fr always, no matter how many locale package loaded & which one switched by moment.locale, always the last imported one does take effect.

[2018-04-24 08:59] m-farahmand commented on #3253
this plugin ain't implement all methods and introduce new functions it makes others library to malfunction.
I use this module to localizing mat-datepicker and after rewriting some function to force it to use jalaali moment understood which jalaali isn't support this use case and just  support jalali calendar when we call explicit methods like jYear().

[2018-04-24 13:18] ashsearle commented on #4585
You say you're trying to _bundle_ locales, but only load one at a time.

Did you read through the documentation about how to load locales on demand - e.g. [using RequireJS](https://momentjs.com/docs/#/use-it/require-js/) (which further refers to [this comment](https://github.com/requirejs/requirejs/issues/1554#issuecomment-226269905)).
[code]

[2018-04-24 13:29] ashsearle commented on #4587
Looks fine:
[code]

[2018-04-24 13:44] ashsearle commented on #4585
I'm a little confused about the issue you're having.

You're quite right that `require('moment/locale/de')` returns something that looks like an empty object.  That's the set of exports from the locale file when loaded as a module... i.e. it doesn't export anything.

The locale file does all its work by hooking into the global `moment`, so... requiring a locale works fine, you just need to switch

[2018-04-24 13:57] suprMax commented on #4585
We generate our code bundle with browserify on the server and don't load anything on demand via runtime as with RequireJS.

I'm bundling all language data (mostly JSON, using https://github.com/yahoo/serialize-javascript package) separately from my main script file so it doesn't bloat with unused translations. Since we only use 1 locale at a time, say 'de', there is no point in loading everything

[2018-04-24 14:05] ashsearle commented on #4585
Does the that extended JSON format allows IIFE's?  Can you just wrap up the locale?

[code]

[2018-04-24 14:12] suprMax commented on #4585
It would surely serialize the function, but I don't have `moment` globally (it's packaged inside main code bundle all wrapped in IIFE too).

In other words it would include the code but do nothing. Following this approach I could go straight after the source:

[2018-04-24 16:37] tkrotoff commented on #1603
FYI Next date-fns version (2.0) supports UTR#35, see https://github.com/date-fns/date-fns/issues/520

[2018-04-24 23:54] #4502 closed

[2018-04-25 08:39] eternalharvest opened #4591 "[Feature request] Support Era names"
### Description
In Japan, government agency and some company use traditional Japanese Imperial Calendar. But it seems moment.js is currently not supporting era names ~~~other than Christian Era~~~. So I want to write some patch to improve this. But I'm not familiar with this code-base. And I'm not sure whether if this can be done with unicode date format standard.

This feature is implemented as `

[2018-04-25 08:57] ashsearle commented on #4585
Other locales suffer the same issue too: 'ar-ly', 'ar-sa', 'ar', 'az', 'be', 'bn', 'bo', 'br', 'cs', 'es-do', ...

If I was a maintainer (I'm not), I wouldn't merge the PR for the reason it doesn't fix the general issue and doesn't move the locales or localeData any closer to being able to import/export as pure JSON.

[2018-04-25 09:51] suprMax commented on #4585
I think it doesn’t have to be JSON, just a self encapsulated object would be enough. I would update all locales if maintainers agree to merge such an undertaking.

[2018-04-25 15:07] lad475 commented on #4572
Perhaps your script is executing before the moment script is finished loading in?  That would account for why sometimes it works and sometimes it doesn't.

Try to move your script tags around to see if this fixes the problem.

[2018-04-26 07:16] eternalharvest commented on #4591
It seems Era names is not supported yet...

In LDML, 'GGGG' means Era name, but moment uses 'GGGG' format as 'ISO 4 digit week year'.
Should I define another symbol for implementing Era name support?

### Related Issue
* #61 Custom, LDML-like pattern language which is not LDML
* #294 Switch to LDML?

[2018-04-26 11:57] shone83 opened #4592 "Date.now() in MongoDB only shows first collection accurate, all after that is the same as first"
Date.now() in MongoDB only shows first collection accurate, all after that is the same as first. That problem is until I reset the server with nodemon, only then in next collection date is ok, but the problem is still exist until next restart.

helper:
[code]

model:
[code]

view:
[code]

I only notices this because I entered minutes and seconds and see that is not changing.

[2018-04-26 13:00] rkischuk opened #4593 "Modifying existing JS Date with startOf / endOf has no effect"
Constructing a new moment from a JS date, and then calling startOf or endOf does not modify the moment

Example:
[code]
(Expected behavior is that the moment would be modified to and return April 1)

**Environment:**
Running Chrome 65.0.3325.181 (Official Build) (64-bit)on Mac OS X Sierra

**Other information that may be helpful:**
* The time zone setting of the machine the code is running on
* Th

[2018-04-26 13:17] TimotheeJeannin commented on #4325
Would be nice to have this !

[2018-04-26 14:03] ashsearle commented on #4593
You're looking at implementation details.  `_i` is the _input_ to moment.

The internal field that gets updated by startOf/endOf etc is `_d`, but - to repeat myself - that's implementation detail.

You want to see if moment has changed: use `format`, `toString` or `toISOString`.

e.g. (bearing in mind I'm in a +01:00 timezone):
[code]

[2018-04-26 14:32] EricCavalher opened #4594 "Deprecation warning converting Sharepoint Date"
I'm receiving a warning message during formating date with moment.js.

customerData[0].Year = moment(customerData[0].Date, "ddd MMM DD YYYY HH:mm:ss", 'br', true).format('YYYY');

Is there something wrong?

[2018-04-26 16:32] nicholasbraun commented on #4094
@icambron This behaves strange too. For example

	console.log(i + ' ' + moment('' + i, 'YYYY').isoWeek(2).startOf('isoWeek').format('YYYY-MM-DD'))
}

gives the output:

2019 2019-01-07
**2020 2020-01-06
2021 2020-01-06**
2022 2021-01-11
2023 2022-01-10
2024 2024-01-08
2025 2025-01-06
**2026 2026-01-05
2027 2026-01-05**
2028 2027-01-11
2029 2029-01-08
2030 2030-01-07
2031 2031-01-06
**2032 2032-01-

[2018-04-26 17:03] CamWalker opened #4595 "Feature Request: Method to Detect and Return Date Format"
Dates can be received in different formats. I would like to know the format of the date that was given in order to return the modified dates in the same format in which they are received.

Requirements:
(1) Detect date format and return string containing the date format as it was received.
[code]
(3) If date is invalid, it will return "Invalid Date".

[2018-04-26 18:51] Mobashir1995 commented on #4572
Hi! Thanks for your reply. I've put the moment js code at top of the script, then write the rest of the code. So, I think there is no chance to load my script before of moment JS.

[2018-04-26 19:09] ccorcos opened #4596 "Feature Request: Date Range Formatting"
It would be fantastic if Moment handled date range formatting nicely.

For example `March 4-8, 2018` and `Today 4-5pm`. Implementation-wise, I could imagine this is a little tricky due to the highly semantic nature of things.

[2018-04-26 19:36] icambron commented on #4094
@nicholasbraun No, that's probably right. ISO week years and Gregorian years don't always line up. Eg, that's saying Jan 1, 2021 is at the 2020 ISO week year, so taking the second week of the week year puts you all the way back at the start of the 2020 week year. See more [here](https://en.wikipedia.org/wiki/ISO_week_date#Relation_with_the_Gregorian_calendar).

Try it with 'GGGG' instead of 'YYYY'

[2018-04-26 19:38] icambron commented on #4596
See Twix.js, a Moment JS plugin for doing just that. http://isaaccambron.com/twix.js/

[2018-04-26 19:38] #4596 closed

[2018-04-26 19:40] icambron commented on #4594
Put yourself in our shoes: What's the warning? What's the date value you passed in?

[2018-04-26 19:43] icambron commented on #4593
What Ash said

[2018-04-26 19:43] #4593 closed

[2018-04-26 19:45] icambron commented on #4592
I don't think we can help with this. We can only help with things like "when I call Moment arguments x, I get a result like y when I expected a result like z". Try StackOverflow?

[2018-04-26 19:45] #4592 closed

[2018-04-26 19:47] icambron commented on #4591
Yeah, you'd need a new token. Probably anything unused is fine. Remember we can't do this unless we get eras for all the locales, so this is a big feature.

[2018-04-26 19:48] #4585 closed

[2018-04-26 19:50] icambron commented on #4584
Luxon durations can do this. I suggest looking there.

[2018-04-26 19:50] #4584 closed

[2018-04-26 20:26] EricCavalher commented on #4594
My bad... I thought I posted the fiddle.

https://fiddle.jshell.net/a6m1df4j/5/

[2018-04-26 21:36] ccorcos commented on #4595
You might want to check out chrono for parsing dates: https://github.com/wanasit/chrono

[2018-04-26 22:04] shone83 commented on #4592
Ok, I will try in some other place.

[2018-04-26 23:52] amarzavery commented on #2373
I want to be able to only use moment.js for `duration`? It will be so awesome if I can only require/import the duration module from moment. In web pack after following the above recommendations I still have to take ~60KB of minified moment.js just for validating the duration format.

Can we please modularize moment? If that is not possible then is there another way to tell web pack to not take the

[2018-04-26 23:57] davidgoli commented on #2373
@amarzavery take a look at https://date-fns.org/ - it's very lightweight & modular and should support the functionality you want.

[2018-04-26 23:59] amarzavery commented on #2373
@davidgoli - Thanks for responding quickly. Here is the [open issue for duration](https://github.com/date-fns/date-fns/issues/284) on date-fns. It is not yet supported.

[2018-04-27 00:12] davidgoli commented on #2373
I'm not sure what all your use cases are, but there *is* limited duration support in date-fns, though not as a first-class concept necessarily. If that's still not what you need, take a look at https://moment.github.io/luxon/docs/class/src/duration.js~Duration.html

[2018-04-27 00:38] amarzavery commented on #2373
Thanks for pointing me to Luxon. This looks promising to me. I will give it a try.
I am primarily looking at following scenarios w.r.t duration:
- serialize a duration object to ISO8601 format
- deserialize the received duration to a Duration object that the user can play with.
- validate whether a given duration object or string adheres to the ISO8601 duration format.

[2018-04-27 02:10] JunhoKim01 commented on #4387
I agree with @kyungw00k`s  idea.

[2018-04-27 05:05] rishu2482 commented on #4440
Hi @marwahaha ,
I have raised a pull request. Please review it and let me know if any updates required.

[2018-04-27 07:19] ChetanAgarwal11 opened #4598 "inconsistency of .format()"
moment("2010/2/31").format()  //"2010-03-03T00:00:00+05:30"

From the above statement i would expect the output should be "2010-02-31T00:00:00+5:30" but it is outputting "2010-03-03T00:00:00+05:30"
Is it the effect of leap year functionality,since there is no 31st day in february is it giving me 3 days ahead output?

[2018-04-27 08:57] eternalharvest commented on #4591
@icambron

Thank u for ur advice!
I'll try this.

[2018-04-27 12:35] xdumaine commented on #4387
I'm not sure what the question is. I don't have any knowledge of Korean language, I'm just passing on what my localization team asked for. If you disagree please just close the issue.

[2018-04-27 16:29] eternalharvest commented on #4598
@ChetanAgarwal11

Why u need to specify the date not exist?
I think it is not a bug of moment, and this behavior is comes from `Date` class of JavaScript.

[code]

If u want to know the date of end of month, u can use following code instead.

[code]

[2018-04-28 10:03] ashsearle commented on #4595
@CamWalker Do you realise any solution you find is going to be fragile?

What's the date format of "10/10/2018"?  Is it "DD/MM/YYYY", or "MM/DD/YYYY"?

[2018-04-28 13:10] outsideris commented on #4387
I don't believe Korean use 24 hour format formally although I'm Korean.
Agreed with @kyungw00k

[2018-04-28 16:57] ccorcos commented on #4595
I’m using `monthFirst = moment(“1990-12-28”).format(“L”).startsWith(“12”)`
to determine the way the user formats dates based on their locale.
On Sat, Apr 28, 2018 at 03:03 Ash <notifications@github.com> wrote:

[2018-04-29 10:50] marwahaha commented on #4387
Ok, I will leave as is.

[2018-04-29 10:50] #4387 closed

[2018-04-29 17:02] libinvarghese commented on #1493
You can explicitly call the moment#valueOf as `a.valueOf() - b.valueOf()`

[2018-04-29 20:42] #4568 closed

[2018-04-29 21:29] adsingh14 commented on #4568
@marwahaha i think you've missed that commit from my PR.

[2018-04-30 03:54] icambron commented on #4594
That's coming from calls like this:

[code]

where you're not passing in a format string. See more [here](http://momentjs.com/guides/#/warnings/js-date/)

[2018-04-30 03:54] #4594 closed

[2018-04-30 15:38] CamWalker commented on #4595
@ccorcos Thanks for the recommendation. I'm not sure this fits my use case. My work involves data from a lot of different sources, time intervals, and locations. Format varies greatly. I want the ability to (1) manipulate the dates as needed and (2) display the dates in the same format in which they were given to me. So I don't need a parser, I need something that tells me the format that the date

[2018-04-30 15:58] lad475 commented on #4598
Also keep in mind, similar to what @eternalharvest said, when you format a string going into a date like "2010/2/31" moment falls back to using the native Date constructor.  If you want it to give you an invalid date for that day, pass it in ISO format:

moment('2010-02-31')

[2018-04-30 22:38] IT-ASSASSIN commented on #2979
Thanks for all information.

[2018-05-01 16:19] siboulet opened #4600 "[locale] fr: Short month parsing dot notation should be optional"
I think this issue is similar to https://github.com/moment/moment/issues/3214.

Moment seems to only accept "dot notation" for short month in French parsing. The dot should be made optional.

This doesn't work:
[code]

But this works:
[code]
Using latest version 2.22.1.

[2018-05-01 23:16] marwahaha commented on #4600
@jfroffice ?

[2018-05-02 06:18] noorulcompro opened #4603 "moment.duration().toISOString() is not giving expected output as per PnYnMnDTnHnMnS format"
moment.duration(867896076).toISOString() is giving PT241H4M56.076S as output while it should be
PT10D1H4M56.076S.

[2018-05-02 16:02] tatsujb opened #4604 "Duration diff and the docs"
I don't understand. What is this : https://github.com/moment/moment/issues/4026

when these are your docs :
https://momentjs.com/docs/#/durations/

I'm under windows 10 Pro 64bit
npm 5.6.0
node 8.9.4
chrome Version 66.0.3359.117 (Official Build) (64-bit)
Angular 5.2.9
and moment 2.22.1

I don't understand.

literally **none** of what is advertised is available.*

I can create a moment.

that's it.

[2018-05-02 16:15] eternalharvest commented on #4603
@noorulcompro

Though I'm not expert of moment.js and duration formatting, I think it's in the specification.
According to the following comment in the `#toISOString()` method, it seems milliseconds value bubble up to until they become hours.
I think it 's because if we consider the leap seconds, it is impossible to calculate exact number of days.

https://github.com/moment/moment/blob/3062ca13cd1

[2018-05-03 05:03] durgeshahire4 commented on #4485
@marwahaha Thanks Man

[2018-05-03 07:55] ashsearle commented on #4604
Perhaps you've misunderstood the docs.  Look at the table of contents on the right-hand-side and you'll see 20 subheadings for things you can do with a Duration listed underneath 'Duration': Creating, Clone, Humanize, ... Is a Duration, As ISO 8601 String, Locale.

The list does _not_ include 'Format' - that's what #4026 was saying and asking for: people want to be able to format a Duration, but t

[2018-05-03 07:58] ashsearle commented on #4603
Bubbling stops at hours because the number of hours in a day _is not always 24 hours_.

In approximately 70 countries that use DST to adjust clocks twice a year, one day a year is 23 hours, one is 25 hours, and the rest are 24.  (Assuming a typical DST going forward/backward by 1-hour.)

[2018-05-03 08:15] eternalharvest commented on #4603
@ashsearle

@ashsearle

I didn't consider about DST...
I'm not sure how the DST is implemented, but i think the value represent utc time offset in milliseconds.
Please correct me if I was wrong.

[2018-05-03 08:25] tatsujb commented on #4604
update :

I replaced the auto-import :
`import { moment } from 'ngx-bootstrap/chronos/test/chain';`
with
`import * as moment from 'moment';`

now the error is as follows :
![image](https://user-images.githubusercontent.com/5132359/39566554-418cc39c-4ebc-11e8-91b1-d68ec8f77eb8.png)

[2018-05-03 08:25] ashsearle commented on #4603
@eternalharvest I think the only thing you gain by mentioning UTC in relation to durations is that you can say a minute is always 60 seconds (as UTC doesn't have leap seconds.)

You can reliably convert milliseconds to seconds, minutes, hours.
You can't reliably convert to days, months or years.

[2018-05-03 08:43] tatsujb commented on #4604
nevermind I figured it out.

so in the end what could help in the docs is to make it clear to users that the default suggested import is not the right one

and that they should type out :

`import * as moment from 'moment';`

[2018-05-03 09:54] eternalharvest commented on #4603
@ashsearle

I understand...
But I still thinking duration of the day is 24 hours.
Is this behavior is defined in ISO standard?

@noorulcompro
I think we can add optional arguments for existing '#toISOString()' method to control this bubbling behavior. But we need to discuss about the definition of duration.

[2018-05-03 12:05] eternalharvest commented on #4603
@ashsearle

I found the following `_buble()` method which is called implicitly.

https://github.com/moment/moment/blob/3062ca13cd1cfbcef1c4a0cd5543f5fcd329c1d9/src/lib/duration/bubble.js#L5-L50

And this code bubbles milliseconds value bubble up until they become day.
u can confirm this behavior like this.

[code]

[2018-05-03 14:28] ashsearle commented on #4603
Perhaps [this commit comment](https://github.com/moment/moment/commit/bb5135060a1e6a7d077a6b9d65edbe0e8b3b1a17) explains it better than I can.

[2018-05-03 21:28] marcusx opened #4605 "Get granularity for week and month date strings."
I have dates for months `('2018-09')` and weeks `('2018-W19')`.  I need the start and end day. How can I get the granularity for the moments to decide if I need `moment().endOf("month");` or `moment().endOf("week");` for getting the end day?

[2018-05-03 21:45] lizzieleeservicenow opened #4606 "isValid function does not carry down format arg to monthsShort function"
**Description of the Issue and Steps to Reproduce:**

For locale (ex: nl, es) that has monthsShort function with monthsShort and monthsShortDot,
when calling moment(value, format, true).isValid(), the format arg does not pass down to monthsShort function correctly, result in validation fails.

Looks like in computeMonthsParse() function, when calling monthsShort function format arg is missing.

*P

[2018-05-03 22:44] eternalharvest commented on #4603
@ashsearle

Thank u for telling me the commit message.
I'm losing my confidence...

Please help me! @NobodysNightmare

[2018-05-03 22:57] eternalharvest commented on #4595
@CamWalker

If specified date is formatted in one of ISO standard format, u can detect the format like below.

[code]

But it if specified date is RFC2822 format or other format which JavaScript native builtin `Date` class accepts, it will be empty string.

[2018-05-03 23:33] eternalharvest commented on #4572
@Mobashir1995

As @lad475 mentiond, i think it is because ur script is executed before moment is loaded.
I think u need to wrap ur code with `window.onload` callback function.

[2018-05-04 00:42] ccorcos opened #4607 "weekday() not consistent with weekdays() across locales"
**Description of the Issue and Steps to Reproduce:**

There's an inconsistency between weekday() and weekdays() across locales. In monday-first locales, weekday() has monday indexed at 0, but weekdays() still returns sunday first.

[code]

**Environment:**
MacOS Node.js v8.8.1

[code]

[2018-05-04 05:35] NobodysNightmare commented on #4603
The DST comment is basically right. I can explain it in two examples. Let's assume it is 13:00 o clock. If I tell you “let's meet in exactly two days“, then that means meeting at 13 o clock, two days from now. Even if there is a DST change, we will meet at 13:00. (At least according to the ISO spec)

If I tell you: let's meet in 48 hours, then that is a different story. Due to clock changes this c

[2018-05-04 10:06] Sakarisson opened #4609 "[locale] fo: relativeTime is incorrect"
**Description of bug**
The "one minute" and "one month" values in the Faroese locale are wrong.

In both cases, the word should be in singular indefinite nominative form.

At the moment, the value for minute is in accusative form (minutt) and month is in dative form (mánaði).

A free Faroese dictionary can be found here: [Sprotin.fo](https://sprotin.fo/dictionaries?_SearchFor=&_SearchInflections=1

[2018-05-05 01:03] eternalharvest commented on #4603
@NobodysNightmare

Thank u for explain detailed info!
I was confusing internal data with string representation.

It seems there is no proper way to solve this issue...

[2018-05-06 23:48] sumeet commented on #2781
:+1:

[2018-05-07 05:45] Eliyas commented on #4498
@Krappt please creating a sample project would be more helpful.

[2018-05-07 09:54] SamusAranX opened #4614 "moment.fromNow() returns "Invalid date" even though .isValid() is true"
**Description of the Issue and Steps to Reproduce:**

I'm using a custom version of MomentJS 2.20.1 where I removed all locales but the German one: https://gist.github.com/SamusAranX/4df8b46fa49b09af1a657cf877e51666

I tried updating to the most recent version (2.22.1), but it exhibits the exact same problem:
For some reason, `.fromNow()` just stopped working.

[code]

Curiously, `.isValid()` retu

[2018-05-08 04:49] sabnasusan opened #4618 "[locale] ms: Time format and abbreviations are incorrect that will lead to confusion"
**Description of the Issue and Steps to Reproduce:**

Time format and abbreviation currently showing is incorrect for hh\:mm A for MS_MY Locale:

**- Time format and abbreviation should be as below for "hh\:mm A":**
(Morning) Pagi: 1:00 AM - 11:59 AM
(Afternoon) Tengah hari: 12:00 PM - 1:59 PM
(Evening) Petang: 2:00 PM - 6:59 PM
(Night) Malam: 7:00 PM -11:59 PM
(Midnight) Tengah malam: 12:00 AM -

[2018-05-08 06:41] daganox opened #4619 "Moment is not found after include"
After imported moment in my porject, I used this syntax for TypeScript:
`import * as moment from 'moment';`

but I had an error: "moment not found";

I fixed this bug by modifying the moment.d.ts this way:
change
`export = moment;`
for
[code]

now it works.

does everybody have this issue or I do something wrong?

[2018-05-08 16:17] tanganellilore opened #4621 "Error in locale language "it""
**Description of the Issue and Steps to Reproduce:**
Hi all,

in the file moment/locale/it.js there are some error in the months and days.
All information are lowercase, but in Italian all information is Sentence case

for example at line 12 :

`months : 'gennaio_febbraio_marzo_aprile_maggio_giugno_luglio_agosto_settembre_ottobre_novembre_dicembre'.split('_'),
        monthsShort : 'gen_feb_mar_ap

[2018-05-09 09:17] maxmantz commented on #4505
Having the same issue. Do you know of any workarounds / fixes?

[2018-05-09 15:14] InstanceOfMichael commented on #2934
What about adding this ability to `format` function?

[2018-05-10 06:53] eternalharvest commented on #4591
@mj1856 As u mentioned, Japanese era name is planning to be changing on May 1, 2019.
As the link told me explains, Microsoft has added a registry so that it can respond instantly to updating the era.

On Linux, default definition of Japanese era is stored in `/usr/share/i18n/locales/ja_JP`.
And u can modify the original locale file or define custom locale using `localedef` command.

In my implemen

[2018-05-10 15:10] ashsearle commented on #4621
The locale deliberately uses lowercase, as explained in [a commit from last year](https://github.com/moment/moment/commit/0b1e5c6da6a306c81f0457f858fee4bbbe8feec7) - (the same sort of change was also made for the `es` (Spanish) locale a year earlier.)

As well as the reference in the commit, I notice the unicode consortium's survey tool shows lowercase as the winning [responses for the Italian loc

[2018-05-10 16:57] tanganellilore commented on #4621
Ok,

I'm Italian but in the normal case (when We talk, write an email etc..) , the days, weeks and months are sentence case.

I close the issue because the correct rule is lowercase (Treccani).

Thanks @ashsearle

[2018-05-10 16:57] #4621 closed

[2018-05-11 11:49] guitar9 opened #4623 "webpack Uncaught TypeError: Cannot assign to read only property 'clone' of object '#<Moment>'"
i get the error : Uncaught TypeError: Cannot assign to read only property 'clone' of object '#<Moment>' (moment.js:3837)
when i want to import momentjs

npm install moment --save
import moment from "moment"

version 2.19.4

[2018-05-13 13:03] guitar9 commented on #4623
nobody an idea?

[2018-05-14 10:05] TivoSoho opened #4625 "Known issue: error for ./locale"
I have the known issue that it fails with error on ./locale
I know there are other threads about this issue but I cannot seem to figure out how to apply any of them on Laravel / webpack. I am of course very new to this.

The setup is as follows:
* vanilla Laravel
* take resources/assets/js/bootstrap.js - https://github.com/laravel/laravel/blob/master/resources/assets/js/bootstrap.js and add requir

[2018-05-14 18:11] steveccable commented on #1875
Note that the above solution from @douglasjunior is what you need for the import/require **iff** your `moment` and `moment-timezone` are resolving to different versions, causing `moment-timezone` to have a node_modules present inside of your node_modules.  The specifics of how this comes to be will vary based on your own build configuration.

If you have them both resolve to the same version, then

[2018-05-14 23:47] jarbitlira commented on #3176
I solved the issue using as type any
(moment as any).defaultFormat = 'YYYY-MM-DD'

[2018-05-15 06:50] #4545 closed

[2018-05-15 10:07] christiaanwesterbeek commented on #2033
Maybe this was already done before, but I've written a test for calculating the last week of the first 400 years of this century. Here it is:

https://gist.github.com/christiaanwesterbeek/67afdaef3533b6e575016350eb95f32d

[2018-05-15 12:57] raelmiu commented on #2781
👍

[2018-05-15 14:17] nisha-kaushik commented on #4507
Is this available to pick up. I would like to pick this is up as my initial contribution.

[2018-05-15 15:59] modsoussi opened #4627 "November duplicate dates"
**Description of the Issue and Steps to Reproduce:**
 I'm iterating over the days of the month and every year, in the month of November, there's a date that's repeated twice. To iterate, I'm using a while loop that watches the current month, and in the loop I first print the current date using `format('MM/YY/DDDD')`, then I do `current.add(24, 'h')`. This only happens when I'm iterating over Novem

[2018-05-16 01:40] odinti opened #4628 "2 tests failed. diff:diff across DST (2886.17) diff:diff across DST (2886.19)"
### Client info
[code]

====

### diff:diff across DST (2886.17)

month diff across DST, lower bound

[code]

====

### diff:diff across DST (2886.19)

year diff across DST, lower bound

[code]

[2018-05-16 03:56] rishu2482 commented on #4440
Hi @marwahaha ,
Please review the PR and let me know if any update required.

[2018-05-16 09:18] ikos23 opened #4629 "moment.isValid() returns true for 1111111111"
isValid() method seems to have some bug.

**Steps to reproduce are very easy:**
[code]

why ??? only for this value

**Environment:**
Google Chrome Version 64.0.3282.186 (Official Build) (32-bit) on Windows 7

**UPDATE**
The general pattern to reproduce: any string that represents valid values for MM, DD, YYYY but does not match the format (check my comment)

[2018-05-16 11:03] ikos23 commented on #4629
Another input that gives me the same result is **1225121212**.
My assumption is that the bug is somewhere in `configFromStringAndFormat` as it just checks the input string and if parts of that string are valid date fields it treats it as a valid date.

e.g. 1225121212 - 12 (first 2 chars) is a valid month value, as well as 25 (next 2 chars) is a valid value for day of month and so on.

[2018-05-16 12:38] eternalharvest commented on #4629
@ikos23

I think this behavior is not a bug.
If u want to check if specified text is valid date text representation, I recomend u to use strict mode.
See below.

[code]

FYI) http://momentjs.com/guides/#/parsing/strict-mode/

[2018-05-16 12:50] eternalharvest commented on #4591
@icambron, @mj1856

Although I know u are busy, but I would appreciate reviewing my PR!
And please tell me if I need update my PR.

Thanks u, and beast regards.

[2018-05-16 12:56] #4629 closed

[2018-05-16 14:33] StefanRein commented on #1199
Or just something like this function:

[code]

So you could the is the MomentJS methods `isBetween, isAfter, isBefore` only with the time and not the date.

[2018-05-16 21:14] slaughtr commented on #1639
This is STILL a thing, and STILL is not in the documentation. This just about double screwed me, because not only does `moment(undefined).isValid()` evaluate to true, but `moment(undefined).isAfter(moment().format())` also returns true. Thankfully I was testing something only tangentially related and caught it.

[2018-05-16 21:21] nosnetrom opened #4630 "date() is bubbling up as day of the week"
**Description of the Issue and Steps to Reproduce:**
date() is not setting date of the month accurately; rather, it seems to be setting the day of the week. See https://jsfiddle.net/s4f1j6u5/.

*Please include the values of all variables used.*
b = moment(); b.year(1959).month(5).date(18)

**Environment:**
Win 10 (x64)/Chrome 66.0.3359.139, Firefox Quantum 60.0, Edge 41.16299.371.0

**Other inform

[2018-05-17 11:15] alaeMellon opened #4631 "[bug] Strict parsing regex is not escaped properly"
When I'm using

`moment().locale("en");`
`moment("Th 17.05.2018", "dd DD.MM.YYYY", "en").format()`
-> Result: "2018-05-17T00:00:00Z"
This is fine.

But when I'm using de there is a problem:

`moment().locale("de");`
`moment("Di 15.05.18", "dd DD.MM.YYYY", "de").format()`
-> Result: "Invalid date"

Does anybody know whats wrong?
Thanks for your help!

[2018-05-17 12:50] Foxhound013 opened #4632 "Five minutes are being added to my time."
**Description of the Issue and Steps to Reproduce:**
I'm having trouble converting unix time into a human readable time. Perhaps I'm just misunderstanding how it's supposed to work. I have a unix time coming from the client side to my server and I've verified the date with epochconverter.com. When I use the built in moment.unix function it insists on adding five minutes to it when I use moment.uni

[2018-05-17 18:45] eternalharvest commented on #4632
@Foxhound013

It seems a error in the format u specified...
U can get correct result by the following code.

[code]

FYI) https://momentjs.com/docs/#/parsing/string-format/

[2018-05-17 18:57] Foxhound013 commented on #4632
@eternalharvest Thank you for that, you're correct. Looks like it was a really silly error in the end, thank you for clearing that up!

[2018-05-17 18:57] #4632 closed

[2018-05-18 06:29] nisha-kaushik commented on #4098
Is this issue still exists?

Code:
moment.tz.setDefault('Europe/Oslo');
console.log(moment.parseZone('2017-08-03T16:30:00+01:00').format());
console.log(moment.parseZone('2017-08-03T16:30:00+01:00').hour(16).minute(0).format());

And the output is :
2017-08-03T16:30:00+01:00
2017-08-03T16:00:00+01:00

Please guide me on this, I want to work on this as my first contribution.

[2018-05-18 10:53] nisha-kaushik commented on #3263
Hi,
I'd like to work on this. In strict mode it already says invalid date with hours>12.

Code:
[code]

Output:
false
Invalid date.

If we need "hours > 12 are invalid when parsed with "h" irrespective of strict mode , I think we need to update the parser for 'h'/'hh' mode with the invalid check. Please guide.

[2018-05-19 04:40] uvenil commented on #4631
Bitte versuche:
moment().locale("de");
moment("Di 15.05.2018", "dd DD.MM.YYYY", "de").format()

[2018-05-20 08:56] VesperHan opened #4633 "locale not work"
version: 2.19.3
project: react-native 0.44.0

operation:
-1
import moment from "moment";
-2
moment.locale('zh-cn');
-3
console.log(moment(1316116057189).fromNow());
-4
7 years ago

why the locale not work,  i want help me fix it. Thanks..

[2018-05-20 10:28] guitar9 commented on #4623
finally found the solution. Problem is that i imported another npm module where i found this:

[code]
changing writable false to wirtable true solved the problem.

Can be closed

[2018-05-20 10:28] #4623 closed

[2018-05-21 15:23] peternann opened #4635 "Doco for utcOffset() is confusing"
To a new user, at least.

I thought a construct like `moment().utcOffset(+10);` set the UTC offset GLOBALLY.
Every single example of utcOffset(<something>) in the doco shows the value of utcOffset() never being used, thus it's very easy to assume it has no useful return value.

But I presume the intention is to use it like, for example, `moment().utcOffset(+10).format('some format')`

Anyway, it c

[2018-05-21 16:03] alaeMellon commented on #4631
uvenil, right. This was a copy+paste problem.

But my problem still remains.

I  made an jsfiddle: https://jsfiddle.net/m9c3Lde1/

[2018-05-22 09:15] christiaanwesterbeek commented on #536
Today you would do: `moment().format('GGGG[W]WW')` ([iso](https://en.wikipedia.org/wiki/ISO_8601)) or `moment().format('W GGGG')` as asked in the first comment.

[2018-05-22 12:22] vicdup commented on #348
+1

[2018-05-23 01:05] akirayamamoto commented on #4349
Even government websites vary a lot: https://www.google.com.au/search?rlz=1C1CHBF_en-GBAU776AU776&biw=1645&bih=954&tbm=isch&sa=1&ei=sL0EW9akG4iR8wXAzK2ACw&q=calendar+2018+site%3Agov.au&oq=calendar+2018+site%3Agov.au&gs_l=img.3...29076.33730.0.33968.13.12.0.0.0.0.358.1627.0j3j3j1.7.0....0...1c.1.64.img..6.1.201...0j0i8i30k1j0i24k1.0.u1T7n3dA2VU#imgrc=FLVJXZlPOH792M:

[2018-05-23 07:40] ishita06ag opened #4637 "not able to use isBetween correctly"
I have two time stamps and using it as follows:

var start = moment('2018-04-20T01:30:09.829Z');
var end = moment('2018-04-20T09:30:48.500Z');
var now = moment();

now.isBetween(start, end) is returning false, even when I am checking considering the correct now time. Not sure why.

I am  only bothered about the time and donot need to take date into consideration.

[2018-05-23 13:00] MayeuldP commented on #4422
Hey peoples, `import 'moment/locale/fr';
` works for me, but if I want to do a dynamical one, like not have to import all the exisiting languages, do you know any tricks to do something like `import 'moment/locale/[variable]'` where variable is the needed language ?
So that it works with every country... :/

[2018-05-23 15:03] thom-ek opened #4638 "isSame terribly slow on mobile browsers"
isSame(date, 'day') is terribly slow on Safari on iOS. Used at loop to compare and filter dates is taking many seconds to process. Comparing year, year+month and year+month+day can be fixed by manually comparing each component by calling year(), month() and date() functions.

[2018-05-24 02:00] QuietHeartThinkingFar commented on #4633
import moment from 'moment';
import 'moment/locale/zh-cn';
console.log(moment(1316116057189).fromNow());

[2018-05-24 08:30] pineapplemachine opened #4639 "Deprecation warning in node v10 when logging a moment object"
**Environment:** Node v10.0.0 on OSX Mavericks. Moment package version 2.22.1.

**Description of the Issue and Steps to Reproduce:**

Run this code to reproduce the deprecation message:

[code]

Console output including deprecation message:

[code]

See the node documentation for information about how to fix this deprecation message:

https://nodejs.org/api/deprecations.html#deprecations_dep0079_c

[2018-05-24 08:38] darek8686 commented on #3763
Why don't you fix this issue? It is very important.

[2018-05-24 08:54] robhadfield commented on #4572
Just putting the script before another script doesn't guarantee it will be loaded first unfortunately. As @eternalharvest says, wait until the window is loaded before using a call to moment.js

[2018-05-24 09:07] AmirTugi commented on #3763
Adding `"module": "commonjs"` fixed it for me

[2018-05-24 09:09] darek8686 commented on #3763
But i have to use `"module": "none"`. Commonjs is not a solution.

[2018-05-24 20:26] rossipedia commented on #3763
If I'm understanding it correctly, this will be resolved with [TypeScript 2.9's import types](https://github.com/Microsoft/TypeScript/issues/14844) feature, which will allow `import`ing type definitions without affecting the the module / ambient context.

[2018-05-26 02:44] hahn-kev opened #4641 "Duration add/subtract can break humanize with mixed units"
When creating a duration of days and then trying to subtract years, once I call humanize it looks like it added the number of years instead. However creating a duration with years and subtracting years works just fine.

Example:
[code]
These should print the same things, but at the moment the first one prints `'a year'` as you would expect but the second one prints `'3 years'`

**Environment:**
Ch

[2018-05-26 14:21] hadiMh opened #4642 "momentjs with mongodb"
Hi,
I used mongoose(a module for intracting better with mongodb) schema for saving date.now in mongodb database. now i want to use momentjs to format that date that is saved in db. i tried hours of testing everything i could find in internet but i couldn't find anything. How can i format the date time that is saved in database( by saving date.now).
Tns in advance

[2018-05-29 07:50] swetha21 commented on #275
Hi, To convert UTC to user time, do we need to provide format.
for example : let utcTime = moment({ hour : 10, minute : 20).format('YYYY-MM-DD HH:mm:ss');
    let stillUtc = moment.utc(utcTime).toDate();
    let localTime = moment(stillUtc).local();
Now i can able to get localTIme. But if i remove format i can still UTC format . here 10:20 is UTC timeZone which is coming from backend. I want to sh

[2018-05-29 07:59] arvin9527 opened #4643 "Moment._isValid = false"
<el-date-picker
            size="mini"
            v-model="nowadays"
            type="date"
            @change="loadData(dateConvertFn(nowadays))"
            @blur="nowSelecetDayFn(nowadays)"
            placeholder="选择日期">
          </el-date-picker>

nowSelecetDayFn(nowadays){
        let selected,before;
        **selected = moment(nowadays.split('-'))**
        **//console.log( moment(now

[2018-05-29 08:01] arvin9527 commented on #4643
selected Moment {_isAMomentObject: true, _i: Array(3), _isUTC: false, _pf: {…}, _locale: Locale, …}_d: Invalid Date {}_i: (3) ["2018", "05", "31"]_isAMomentObject: true_isUTC: false_isValid: false_locale: Locale {_calendar: {…}, _longDateFormat: {…}, _invalidDate: "Invalid date", ordinal: ƒ, _dayOfMonthOrdinalParse: /\d{1,2}(th|st|nd|rd)/, …}_pf: {empty: false, unusedTokens: Array(0), unusedInput:

[2018-05-29 08:30] arvin9527 commented on #4643
<el-button size="mini" @click.stop="nowSelecetDayFn">测试</el-button>

nowSelecetDayFn(){
        var a = moment([2018, 5, 29]);
        var b = moment([2018, 5, 31]);
        var c = a.diff(b, 'days') // 1
        console.log('c',c) //NaN
      }

[2018-05-29 09:05] arvin9527 commented on #4643
**

**

var a = moment('2018-5-29');
        var b = moment('2018-5-31');
        console.log('b',b)
        var c = b.diff(a, 'days')
        console.log('c',c) //2

[2018-05-29 13:34] AlexShuraits commented on #4217
@azavisha solution worked, but with warning:
WARNING in ENOENT: no such file or directory, scandir '/node_modules/moment/locale'
Fixed with
"postinstall": "rm -rf node_modules/moment/locale/*"

[2018-05-29 19:36] horodnicdragos commented on #4150
Greetings!

I looked through the locale files and was on my way of adding a name property according to the codes in CLDR. I was looking at tzm.js which seems to have the properties from shi.xml. The ones from tzm.xml seem to be different from the ones on the main repo.

What should I do about those files in case I run into a similar scenario? I also want this to be my first PR on this library, sin

[2018-05-29 22:06] galinkyuchukov commented on #4614
Have same problem in nodejs! In a browser - no issues!

[2018-05-29 23:03] jamesalexmorgan opened #4644 "Adding 30 minutes to 10:30am causes date to go back to 10am"
**Description of the Issue and Steps to Reproduce:**

When adding minutes to a moment date, there seems to be an issue when it gets to 10:00..10:30, it duplicates those times.

All you have to do is run this following JS in the console...

const date = moment('1970-01-01 09:00:00');
console.log(date.add(30, 'minutes').format('hh:mma')); // 09:30am
console.log(date.add(30, 'minutes').format('hh:mma

[2018-05-31 10:21] marwahaha commented on #4644
Hi! Thanks for filing this issue! Unfortunately, I can't reproduce this. Could you provide any other information?

[2018-05-31 10:21] marwahaha commented on #4643
Glad you could solve the problem.

[2018-05-31 10:21] #4643 closed

[2018-05-31 10:24] #4642 closed, assigned to nobody

[2018-05-31 10:32] marwahaha commented on #4568
@adsingh14 - does https://github.com/moment/moment/commit/3062ca13cd1cfbcef1c4a0cd5543f5fcd329c1d9 not address the issue?

[2018-05-31 11:45] jleedev commented on #4644
This appears to only happen for timestamps before 0 when the environment is Australia/Sydney and `moment.tz` is not called specifically.

Compare:

[code]

[2018-05-31 11:55] DennisNerush opened #4645 "Using format with small letter d doesn't display the correct day"
**Description of the Issue and Steps to Reproduce:**
Using "_format_" with the small letter 'd' instead of capital 'D' doesn't present the right day of the date. In my opinion it should have the same result
`
moment('2018-06-20').format("MMM d, YYYY")
--> "June 3, 2018"
moment('2018-06-20').format("MMM D, YYYY")
--> "June 20, 2018"
`

**Environment:**
Chrome Version 66.0.3359.181 on OSX

*Examples

[2018-05-31 21:23] minchopm opened #4647 "Incorect time zone for Sofia"
moment.tz(moment.tz.guess()).utcOffset() is returning 180 for Europe/Sofia -> we are always +2. There are some countries in our area like Belarus that are +3 during the summer and + 2 winter

[2018-05-31 22:37] JamesPlayer commented on #2517
The solution here looks a little cleaner: https://medium.com/@michalozogan/how-to-split-moment-js-locales-to-chunks-with-webpack-de9e25caccea

[code]

[2018-06-01 05:40] #4547 closed

[2018-06-01 10:37] antoine-pous commented on #4150
I think the file should contains more informations, like the name and the list of countries wich use the language natively using ISO codes alpha 2 and 3.

[2018-06-01 16:42] martin770 opened #4649 "[bug] moment.duration accepts floating point milliseconds"
The documentation states:
[code]

However, `moment.duration(1.23).milliseconds()` returns `1.23`
`moment.duration(1.23).asMilliseconds()` returns `1.23` (which seems correct)

To be consistent with the other duration functions (e.g. seconds(), asSeconds(), minutes(), asMinutes()), `moment.duration(1.23).milliseconds()` should return `1` (an integer between 0 and 999), but `moment.duration(1.23).as

[2018-06-01 17:00] martin770 commented on #4649
If I over-write the milliseconds() function to use Math.floor, I can make a passing test. But I'm not familiar enough with this project to know if something like this would be an appropriate solution.

[code]

[2018-06-01 18:13] martin770 opened #4651 "moment.duration().milliseconds() can return negative values"
The documentation states:
[code]

But `moment.duration(-1).milliseconds()` returns `-1`

I can understand a negative number for moment objects to display moments relative to each other like `moment().from()`, `moment(a).diff(moment(b))` (to say that something happened x minutes in the past), but it seems like a `duration` should always be a positive number.

[code]

Since they are `contextless`, t

[2018-06-02 10:18] arunikayadav42 commented on #4635
Can I begin contributing to this project please ?would love to do it :)

[2018-06-04 08:41] jraack commented on #3968
@smileheart2 Fixed it for me as well, IE11.

[2018-06-04 10:19] ashsearle commented on #4645
Lowercase `d` is used for day-of-week (0..6).

See [format docs](https://momentjs.com/docs/#/displaying/format/)

[2018-06-04 11:11] vvs commented on #4619
Same here, VS Code can't seem to find moment type definitions when using `import`:

import moment from "moment";

But changing the moment.d.ts file so that (at the end):
[code]

Fixes the problem.

[2018-06-04 12:04] jyte opened #4652 "Retrieve utcOffset from parsed date and not from local ?"
Hello,
I want to be able to query "anything between 01/01/2016:00:00:00 and 01/01/2016:03:00:00", regardless of the TZ where data are from. Because I use mongo and need quick queries accorss TZ, my idea was to have a relative time by clearing the TZ.

But I am unsure as to how I can achieve that with moment. If I parse "2018-06-04T10:37:02.986948+02:00", I can get the utcOffset of the server TZ (-

[2018-06-04 13:03] iursevla commented on #1639
And its still there all this years later...

[2018-06-05 11:55] G89Angel commented on #4426
For example in Spain it makes a lot of sense to use (L_M_X_J_V_S_D). Maybe it could be a good addition for certain languages.

In the mean time I'll use @ashsearle recommendation.

[2018-06-05 14:56] JulianKingman commented on #4638
Also slow in react native. A single comparison takes an average of 3400ms
`moment(date1).isSame(date2, 'day')`

[2018-06-05 15:57] jyte commented on #4652
I ended up finding out that i only need to use `moment.parseZone("2018-06-04T10:37:02.986948+02:00")` for the `utcOffset()` to return 120 as I wanted.

[2018-06-05 15:57] #4652 closed

[2018-06-06 07:55] vineet-agrawal96 opened #4653 "Result is wrong when I convert seconds to hours & min"
HI, I want to convert seconds to an hour and min but it's giving wrong time as output. for example.

moment(63000).format('hh:mm A') for outpust should be expected "5:30 PM" but result is coming "5:30 AM".

Thanks

[2018-06-06 08:58] someden opened #4654 "Parsing mistakes"
Example: https://codepen.io/someden/pen/jabNGa

[code]
2010-01-20 -> 2001-10-20

I think the right behaviour is:
[code]

[2018-06-06 11:46] vineet-agrawal96 commented on #4653
Thanks for reply, it's moment.utc(63000000).format('hh:mm A')  working.

could you show me how to convert "05:30 PM" to seconds or milliseconds.

[2018-06-06 14:23] moses-v51 opened #4655 "Localized date/time option including seconds"
I appreciate all of the localized date time formats available, however I had a need for a localized date/time that includes seconds.  I'd prefer to not cobble it together, given variability across locales.  I decided to log it in case it's a quick add.

[2018-06-06 17:32] BinarMorker opened #4656 "Chrome 67 timezone issues with historic dates"
When calculating dates prior to 1970 in Chrome 67, timezones are now ajusted to reflect historic times, which changed the existing date behavior.

Example with Chrome 66:
![image](https://user-images.githubusercontent.com/5797290/41054973-f5c9a082-698d-11e8-8c43-463394c1986e.png)

Example with Chrome 67:
![image](https://user-images.githubusercontent.com/5797290/41054983-fdfe5266-698d-11e8-8890-07

[2018-06-06 17:46] BinarMorker commented on #4656
Closing the issue as it seems to be coming from Chromium directly. Sorry about that!

https://bugs.chromium.org/p/chromium/issues/detail?id=849724

[2018-06-06 17:46] #4656 closed

[2018-06-07 14:39] ashsearle commented on #4370
@PretorDH `"W"` uses ISO week numbering: week 1 begins on Monday of the week containing the first Thursday in the year.

The first Thursday in 2019 is Thursday 3rd 2019.  The Monday of that week is 31st December 2018.  So... 31st December 2018 belongs to Week 1 of 2019.

[2018-06-07 14:56] rwky commented on #4653
`moment('05:30 PM', 'hh:mm A').unix()`
Will return a unix timestamp for 05:30 PM you can change the second argument to `moment` to any of the formats here https://momentjs.com/docs/#/displaying/format/

For example if you wanted to use lowercase pm you could use  `moment('05:30 PM', 'hh:mm a').unix()`

[2018-06-07 16:14] jack828 opened #4657 "moment.utc Safari BST parse error"
**Description of the Issue and Steps to Reproduce:**

Open Safari 11
Run `moment.utc('Wed Jun 20 2018 00:00:00 GMT+0100 (BST)').toISOString()`
You'll get `null`

**Environment:**

Moment 2.22.2, Safari 11

**Other information that may be helpful:**
Errors on momentjs.org too.

If you are reporting an issue, please run the following code in the environment you are using and include the output:
[cod

[2018-06-07 19:37] sureshmuvva49 opened #4658 "memory leak with these moment api"
**Description of the Issue and Steps to Reproduce:**
## memory leak and holding the memory after a test
*Please include the values of all variables used.*
moment.parseZone('2017-07-31T03:55:13-08:00').format('MM/DD');
moment.parseZone('2017-07-31T03:55:13-08:00').valueOf();
moment.utc('2017-07-31T03:55:13-08:00');
moment.parseZone('2017-07-31T03:55:13-08:00').diff(moment(), 'days');
moment.utc('20

[2018-06-08 06:06] martinpitt opened #4659 "Identical branches and possible bugs spot by coverity"
We are using moment version 2.22.2. A coverity scan showed two possible bugs:

Defect type: IDENTICAL_BRANCHES
1. node_modules/moment/moment.js:3042: identical_branches: Ternary expression on condition "match[1] === "+"" has identical then and else expressions: "1". Should one of the expressions be modified, or the entire ternary expression replaced?

This is

            sign = (match[1] === '-')

[2018-06-08 20:12] dvdobrovolskiy opened #4660 ""end Of('day')" returns 00:00:00"
value - is a date object

console.log(value);
console.log(moment(value));
var end = moment(value).endOf('day');
console.log(end);

Tue Jun 05 2018 00:00:00 GMT+0500 (Yekaterinburg Standard Time)
p {_isAMomentObject: true, _i: Tue Jun 05 2018 00:00:00 GMT+0500 (Yekaterinburg Standard Time), _isUTC: false, _pf: {…}, _locale: j, …}
p {_isAMomentObject: true, _i: Tue Jun 05 2018 00:00:00 GMT+0500 (Yek

[2018-06-08 20:18] dvdobrovolskiy commented on #4660
.clone() I believe.

Sorry

[2018-06-08 20:18] #4660 closed

[2018-06-09 05:11] marwahaha commented on #4653
It looks like you got your help.
This is also a great question for [Stack Overflow](https://stackoverflow.com/), in case you have other questions..

[2018-06-09 05:11] #4653 closed

[2018-06-09 05:13] marwahaha commented on #4654
If you use strict mode, this works:
[code]

There is more information about strict mode here: https://momentjs.com/guides/#/parsing/strict-mode/

[2018-06-09 05:13] #4654 closed

[2018-06-09 09:05] ichirkin commented on #348
+1

[2018-06-10 14:09] beshanoe commented on #4325
I don't think there is a trivial solution for that, it either require editing of every locale file to add new so-called "long date format" or you can use regexp to get rid of year in place like I did:
[code]
But there's no garanty that it will work on every locale, though it you have finite amout of locales supported(like I do), you can at least test it.

[2018-06-10 21:55] ian-henderson opened #4662 "Incorrect duration generated from string"
**Description of the Issue and Steps to Reproduce:**

1. call `moment.duration('60000').asMinutes()` in the momentjs.com console.
2. expect a return value of 1 as a number.
3. a return value of 0 was returned instead.

I came across this on a project for work but found that I could reproduce it on momentjs's site as well. Is this not an intended use case for `moment.duration()`?

**Environment:**

[2018-06-11 08:53] ashsearle commented on #4662
Not quite.  If you pass the number of milliseconds as a _number_ that's fine:

[code]

What you've done in your original code is pass a `String` to  `moment.duration`, which moment will then try to parse as an ASP.NET style timespan, or an ISO-format duration (see [docs](https://momentjs.com/docs/#/durations/))

[2018-06-11 09:06] beebase commented on #275
moment().valueOf() and moment().utc().valueOf()
return the same value! 😞
So to get the utc milliseconds I need to:
moment().valueOf() - (moment().utcOffset() * 60 * 1000)

@mj1856  I don't understand how moment().valueOf() and moment().utc().valueOf() are supposed to return the same value ??

[2018-06-11 09:17] ashsearle commented on #4658
Can you give any details about how you spotted the memory leak, and confirm that it's still present in the latest moment release (2.22.2)

[2018-06-11 09:29] ashsearle commented on #4657
If you open developer tools in Safari and ensure console logging it set to All, you'll see the deprecation warning:

i.e. as you've discovered, the date format you're using works in some browsers and not others.

The suggestion is that you should ensure your dates are formatted in accordance with standards, _or_ if you know the format, pass the format string and use strict parsing.

[2018-06-11 15:12] ugurkoysuren commented on #2979
## I'm using the latest version, right now it's **2.22.2.**

While I'm trying to use ng-packagr and pack my project, I get this error.

**'locale' is not exported by 'node_modules\moment\src\moment.js'**

BUILD ERROR
Cannot call a namespace ('moment')
Error: Cannot call a namespace ('moment')

In project it's importer in this way :

**import * as moment from 'moment';**

I found a workaround that

[2018-06-11 19:06] ian-henderson commented on #4662
Oh, I see — thanks for the quick response! I figured that if the string was just a number, it'd be converted to a number instead of being parsed.

[2018-06-11 19:06] #4662 closed

[2018-06-13 12:59] Billy- opened #4664 "en-gb locale does not include ordinal in LL, LLL and LLLL"
They are defined as so:
[code]

For en-us, this is correct, but in GB we always write the ordinal on the day of the month when written in full like this.

So, to summarise; in all 3, `D` should be replaced with `Do`

[2018-06-14 06:43] srp321 commented on #3852
I still am having this issue and just because of this obsolete data, my application is behaving erratically in few time-zones.
A detailed issue what i have been facing has been asked my me on SO, below's the link to that:

[https://stackoverflow.com/questions/50835668/issue-with-moment-js-method-moment-tz-guess-in-chrome-browser/](url)

Although i do think this bug needs to be discussed again in d

[2018-06-14 15:11] Halt001 opened #4667 "Can we use relativeTimeThreshold(...) for one duration(...).humanize() calculation?"
moment.relativeTimeThreshold will set a new threshold globally, is it possible to change the thresholds for one duration calculation so that you don't have to restore the previous values afterwards?

[code]

[2018-06-14 15:17] Halt001 opened #4668 "moment.relativeTimeThreshold('ss', 0) still displays 'a few seconds' for 0 seconds"
moment.relativeTimeThreshold('ss', 0) still displays 'a few seconds' for 0 seconds

What I expect is '0 seconds'.

How can I eliminate the 'a few seconds' and always get a specific number?

[code]

[2018-06-14 15:45] ashsearle commented on #4664
Do you have any sources to back up your claim that we 'always' do this in GB?

I've checked front covers and websites of the UK's biggest circulating papers and only found 1 website using the ordinal on day of the month: The Sun.

None of them use ordinals on the front page of the print edition.

Checked: Daily Mail, Daily Mirror, Daily Telegraph, The Guardian, Metro, The Sun, The Independent, Dai

[2018-06-14 18:11] Billy- commented on #4664
Maybe the word "always" wasn't entirely accurate, however most of the newspaper websites you quote do not use any of the formats that I am proposing above - what I am suggesting only applies when the date is written in full, i.e only the formats listed in the issue (and amended in my PR).

I would consider this "correct" in en-gb, I do not really have any source other than that I was taught this a

[2018-06-15 01:46] alvin198761 opened #4669 "install momentjs error"
i get the error

npm ERR! Unexpected end of input at 1:7953
npm ERR! li":"latest","benchmark":"latest","grunt-contrib-clean":"latest","gru
npm ERR!                                                                      ^

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\动岚未来科技02\AppData\Roaming\npm-cache\_logs\2018-06-15T01_43_00_784Z-debug.log

when i want to install momen

[2018-06-15 02:40] liyuhang1997 commented on #4669
Try this command: `npm cache clean --force`

[2018-06-15 03:29] giangsoda opened #4670 "[Bug] Incorect calculation of function duration - years, months"
[code]
I use moment.js v2.22.2, hope you fix soon

[2018-06-15 14:02] ashsearle commented on #4664
I'm not sure that strengthens your argument: you're observing that none of the leading publications _exactly_ match one of the 'standard' formats from the en-gb locale.  (e.g. _all_ of the papers I mention include the weekday with the date on their front page.)

I see the [HMRC (government) website](https://www.gov.uk/government/latest?departments%5B%5D=hm-revenue-customs) uses the current `LL` fo

[2018-06-15 14:10] ashsearle commented on #4670
Please read the [intro to Duration in the docs](https://momentjs.com/docs/#/durations/), and see if you get better results using `end.diff(start, 'years')` and `end.diff(start, 'months')`

[2018-06-17 03:59] giangsoda commented on #4670
end.diff(start, 'months') = 12, but i want the result = 0, i want to calculate period time, not the time difference

[2018-06-17 23:20] adamreisnz commented on #4518
I want to +1 this, but at the same time I'm really annoyed that moment chose to start weeks on a sunday by default and not simply use the iso default. That would make everyone's lives a lot easier:

[code]

Oops doesn't work as intended, I get sunday instead of monday.

[code]

Oops doesn't work as intended, moment doesn't know how to handle subtraction of an iso week 🤦‍♂️

[2018-06-18 10:31] onekiloparsec opened #4672 "Last week of the year of 2016 is wrong"
**Description of the Issue and Steps to Reproduce:**

`moment('2016-12-31').format('w')` gives "53". It should be "52".
`moment('2017-01-01').format('w')` gives "1". It should be "52".
`moment('2017-01-02').format('w')` correctly gives "1".

**Environment:**

Chrome 67 on macOS 10.13 (High Sierra), not tested elswhere.

**Other information that may be helpful:**

Inside a Vue.js (v2) app, (hence u

[2018-06-18 10:36] onekiloparsec commented on #4672
My bad, I should have used the ISO week of the year. Sorry.

[2018-06-18 10:36] #4672 closed

[2018-06-18 10:45] agagaga123 opened #4673 "Incorrect calculation of date when date day/month/year have to much numbers"
For invalid date, for example 300/06/2018, we get result: 30/06/2018.
The last numbers are cut.
It should't be calculated like that, it should be defined as invalid date.

Example:
[code]
Expected result:

Actual result:

Environment:
[code]

[2018-06-18 11:12] ashsearle commented on #4670
I think you've stumbled on the most difficult area to agree on.

You're removing context from two dates, and getting a time difference in milliseconds.  You then want to convert milliseconds to some human-readable interpretation like "3 months 2 days".

The problem is that days, months and years aren't of fixed duration.

Take a period of 60 days.   That could be:
"2 months" - Jan 1st to March 1st

[2018-06-18 11:14] ashsearle commented on #4673
I suggest you use [strict mode](https://momentjs.com/guides/#/parsing/strict-mode/):

[code]

[2018-06-18 11:52] agagaga123 commented on #4673
Ok, This is very useful for us. Thanks!

[2018-06-18 11:52] #4673 closed

[2018-06-18 12:17] tsdaemon commented on #348
+1

[2018-06-19 01:54] giangsoda commented on #4670
I agree with you.
But there is a mistake in these two days when using function `moment.duration` (I was asked in the problem description section)
"0 year 11 months": 2018-01-01 -> 2019-01-01, // correct result: 1 year 0 months

[2018-06-19 07:57] ashsearle commented on #4670
I haven't explained myself very well.

You calculated the difference - in milliseconds - between two dates:
[code]

You're then calling `moment.duration(31536000000)`, which you then want to be converted to years and months.

How many milliseconds are there in a year?  Well, it could be 31536000000, but it could also be 31622400000 (leap year.)  On average, it'll be 31557600000, and you've passed

[2018-06-20 08:39] flamner opened #4675 "incorrect fromNow()"
today is 2018/06/20 and date is 1990/06/19 so, moment(date, "YYYYMMDD").fromNow() should return 27 years ago, but it return 28 years ago, FIX THIS!

[2018-06-20 09:30] liyuhang1997 commented on #4675
[code]

[2018-06-20 12:52] Aukhan commented on #4675
working as expected for me
https://repl.it/@Aukhan/moment-diff-test

which makes sense because I expect it to use the rounded `diff` method

[2018-06-21 10:39] ivosh commented on #4324
Agreed with @petrbela. Unfortunately, the incorrect form `23.2.2016` is widespread in administration, though.

[2018-06-21 11:40] autukill opened #4676 "moment( {y: 2017, M: 08, d: 31}) return _isValid : false"
**Description of the Issue and Steps to Reproduce:**
print: moment( {y: 2017, M: 8, d: 31})

**Environment:**
windows10 1803
chrome  67.0.3396.87 32 bit

**Other information that may be helpful:**
bad:
moment( {y: 2018, M: 8, d: 31})
moment( {y: 2019, M: 8, d: 31})

good:
moment("2017-08-31")
moment( {y: 2017, M: 7, d: 31})

[code]
Thu Jun 21 2018 19:38:22 GMT+0800 (中国标准时间)
VM50742:2 2018/6/21 下午7

[2018-06-21 11:55] autukill commented on #4676
document says: months are 0 indexed.

[2018-06-21 11:55] #4676 closed

[2018-06-21 16:24] Xaar37 opened #4678 "Wrong display of moment.format("L") with Chrome"
Hi,

I have a strange result with Chrome (Version 67.0.3396.87) that I do not reproduce with Firefox, Edge or IE.

Using moment.format("L") for "1975-08-18T00:00:00+02:00" gives "08/17/1975" with Chrome. It's wrong as it should be "08/18/1975" (like in other browsers).

Here you can find a jsfiddle: https://jsfiddle.net/94Lw61h0/.

Environment: Chrome 67 on Windows 10.
Time zone: UTC+1.
Actual dat

[2018-06-21 19:43] louisnow commented on #4607
The 'es' locale has start of the week defined differently as that is what the 'es' region/country considers the first day of the week to be. You can just pass the first parameter to weekday() as true to ignore the locale awareness.

From the documentation,

[code]

[2018-06-22 09:30] ashsearle commented on #4678
This sounds like Chrome is working fine.  I'm more concerned about why your other browsers aren't producing the same result.

[code]

What do you see in Firefox and Edge?

[2018-06-22 12:39] Xaar37 commented on #4678
In Firefox, Edge and others:
1975-08-17T22:00:00.000Z
1975-08-18T00:00:00.000+02:00
08/18/1975

As you can see, format("L") and toISOString(true) do not provide the same result as in Chrome. It's worse for format("L") because it's not the same day...

After some searches, it seems that Chrome v67 changes the way it handles date and time with timezone and the DST (Daylight Saving Time). Chrome is m

[2018-06-23 22:19] Glathrop commented on #3488
If you think you're handling things correctly and still seeing the error double check your input types ```<input type="date" />``` will throw error but ```<input type="text" />``` works.

[2018-06-25 08:32] MHA15 opened #4679 "class base library"
Hi
I'm so interested why this component is not converted to class base format yet!!
Is'n there any fork which written in typescript or at least a class base js?
is there any plan to make it class base?

[2018-06-25 15:00] vynmera commented on #348
Please reopen this. My software would like to show any sort of time interval correctly, and changing "every 12 seconds" to "every few seconds" or changing "every 54 seconds" to "every minute" is not acceptable.

[2018-06-25 19:26] jalite1991 opened #4680 "Feature Request: Customize time or a formatter"
Is it possible customize time for a locale like we do with AM/PM . I need to be able to check if do if else check to remove minutes if it doesn't equal 00 or 30. Also change to change 12:00am to Midnight and 12:00pm to noon.

[2018-06-26 14:23] baona95 commented on #2373
I'm at a point searching for "slim" moment.js in Google and it leads me to this, so I've found out date-fns, it's a great alternative since I only used 2-3 methods from momentjs.

[2018-06-27 07:42] anasanzari commented on #2373
+1

[2018-06-27 19:08] ichernev commented on #4680
You can inherit a locale and customize it as you wish: http://momentjs.com/docs/#/customization/
You need to tweak date formats: http://momentjs.com/docs/#/customization/long-date-formats/

My suggestion is to just write a function, that attaches to the moment object and call it when you need your thing done:

[code]

[2018-06-27 19:08] #4680 closed

[2018-06-27 19:10] ichernev commented on #4679
Moment 3.x will likely support the newest typescript. Or it won't support any typescript version and you'd have to import it with `@types/xxx`.

Currently it supports typescript 1.x.

[2018-06-27 19:10] #4679 closed

[2018-06-27 19:13] ichernev commented on #4678
If you want consistent DST behavior across different timezones, you can consider [moment-timezone](https://github.com/moment/moment-timezone).

As far as I understand its an issue with DST handling *in the browser* and not in moment.js. We don't handle browser bugs related to DST (but moment-timezone fixes those). Safari has a ton, I've found a few myself :)

Feel free to reopen if you thing it is

[2018-06-27 19:13] #4678 closed

[2018-06-27 19:29] ichernev commented on #4675
For me it also returns 27. I guess it depens on the timezone, it also depends on the time of day when that happened. Until you provide more info this can not be resolved. If you got a report from a client its possible that they were already a day ahead when that happened and you're looking at local time.

For me I have to push it really hard with utc to get 28, which leads me to the conclusion tha

[2018-06-27 19:29] #4675 closed

[2018-06-27 19:33] ichernev commented on #4670
@giangsoda you're doing it wrong :)

[code]

This is the best way to construct duration from start and end. Otherwise a year is actually 365.25 days. Go ask google. So your duration in milliseconds is just 365 days, which is **clearly** less than a year.

[2018-06-27 19:33] #4670 closed

[2018-06-27 19:34] ichernev commented on #4669
@alvin198761 I hope @liyuhang1997 comment helped you. Next time try to include more relevant information to your submission.

[2018-06-27 19:34] #4669 closed

[2018-06-27 19:49] ichernev commented on #4668
If you read the code, you'll see that we make sure `number || 1` (in `substituteTimeAgo`) to never print `0 anything`, so the question

You can't do that for 0 right now. You can write your own humanize function that checks for 0 seconds, prints the right string, otherwise delegates to the original function.

Or you can investigate why is `number || 1` needed, patch the rest of the code so the tes

[2018-06-27 19:49] #4668 closed

[2018-06-27 19:56] ichernev commented on #4667
Sure you can

[code]

[2018-06-27 19:56] #4667 closed

[2018-06-27 20:03] ichernev commented on #4664
@Billy- look, you have 2 options:

1. Try to convince us that one is more standard than the other. You'd better bring up some heavy stacks of government issued rules. I won't take that route, unless you like pain and no gain.
2. Create a parent locale to en-gb that has your preferable rules and live a happy life.

[code]

http://momentjs.com/docs/#/customization/

[2018-06-27 20:04] #4664 closed

[2018-06-27 20:05] Halt001 commented on #4667
This is very useful, thx!

[2018-06-27 20:08] ichernev commented on #4659
@ashsearle can you please include the `sl.js` fix there as well.
@martinpitt can you submit a patch that adds support for coverity (if its free etc).

Close in favor of #4663

[2018-06-27 20:08] #4659 closed

[2018-06-27 20:14] ichernev commented on #4658
@sureshmuvva49 do you have to execute all the code to get a memory leak? Or any line on its own leaks? How did you spot this? We need a way to iterate over possible solutions (at least) so the situation needs to be 100% reproducible.

[2018-06-27 20:22] ichernev commented on #4657
@jack828 specify the format or make sure its either ISO or RFC2822:

[code]

Note that this does not parse the `(BST)` so it will fail if run in strict mode. Moment can't skip arbitrary text in its parser.

[2018-06-27 20:22] #4657 closed

[2018-06-27 20:26] #4655 closed, assigned to nobody

[2018-06-27 20:29] ichernev commented on #4651
Duration in moment can be negative. This won't change. If you want to make them non-negative use `.abs()`. You can even make a custom constructor that runs `abs()` at the end, and use that throughout your code. The possibilities are endless!

[code]

[2018-06-27 20:29] #4651 closed

[2018-06-27 20:30] ichernev commented on #4647
Hello fellow Sofia dweller!

https://www.timeanddate.com/worldclock/bulgaria/sofia

Sofia can be +2 or +3, currently its +3.

[2018-06-27 20:30] #4647 closed

[2018-06-27 20:34] ichernev commented on #4649
@martin770 we should round all input units to make sure there are no partial milliseconds, seconds etc. I believe the current logic only allows for fractional milliseconds, but I might be wrong. Patches welcome!

[2018-06-27 20:37] ichernev commented on #4645
@ashsearle is correct: `d` is day of week, `D` is day of month.

[2018-06-27 20:37] #4645 closed

[2018-06-27 20:39] ichernev commented on #4644
@jamesalexmorgan it looks like a classical DST "feature". I hope @jleedev clarified that!

[2018-06-27 20:39] #4644 closed

[2018-06-27 20:52] ichernev commented on #4641
This is a glaring bug: after mixing some signs in moment.duration abs could abruptly change the interval.

[code]

[2018-06-27 20:58] ichernev commented on #4639
We need to detect the node version, if its low -- use current approach, if its high, use the new approach -- hopefully this will work on ES5. Not sure how this will affect browser environments.

This needs to be investigated further. The worst thing if we do nothing is that we will lose the inspect functionality, but nothing else will break, right?

[2018-06-27 21:02] ichernev commented on #4638
Can someone drill this down and figure out exactly which part is slow. These functions are not trivial, because they need to work reliably across moments in different timezones.

You can "hack" a faster function and use it, I don't see any issue with that, but I doubt it will handle all the use cases the current code does.

[2018-06-27 21:05] ichernev commented on #4637
You could have said what is "now", because now "now" is different ...

[code]

Works as expected...

[2018-06-27 21:05] #4637 closed

[2018-06-27 21:07] ichernev commented on #4635
@arunikayadav42 have a look at https://github.com/moment/momentjs.com and submit a PR there.

@peternann setting a utcOffset globally doesn't really make a lot of sense. But if you use [moment-timezone](https://github.com/moment/moment-timezone) you could!

[2018-06-27 21:08] #4633 closed

[2018-06-27 21:19] ichernev commented on #4631
@alaeMellon you're correct we have a bug here.

The problem is that German `ddd` includes dots, which forces `weekdaysParseExact: true`, which in turn generates a regex from all possible weekday strings, but unfortunately forgets to escape the dot. So now the dot matches the space, and then `Di_`  fails to match a proper weekday string (which is only `Di` or `Di.`).

[2018-06-27 21:19] #4630 closed

[2018-06-27 21:20] #4619 closed

[2018-06-27 21:22] ichernev commented on #4618
@sabnasusan can you please provide some supporting evidence (why do you think this is correct, and not the way it is now)

@weldan what do you think?

[2018-06-27 21:28] ichernev commented on #4614
I tried this on slightly updated safari and macos and I don't see the issue with moment 2.22.2. Can you please verify?

[2018-06-27 21:29] ichernev commented on #4609
@ragnar123 what do you think?
@Sakarisson can you make a PR in the mean time?

[2018-06-27 21:31] ichernev commented on #4607
Thank you @louisnow

[2018-06-27 21:31] #4607 closed

[2018-06-27 21:37] ichernev commented on #4606
@lizzieleeservicenow `moment(value, format, true)` by default uses the english locale. If you want to use the correct locale you can pass a locale as a third argument:

[code]

Next time it will really help if you include an actual sample code with your bug description :)

[2018-06-27 21:37] #4606 closed

[2018-06-27 21:42] ichernev commented on #4605
@marcusx I see what you're trying to do, but moment is not that advanced. What you could do instead, if you really only deal with those two is:

1. Just check for `W` inside the string. If you find it use `week` instead of `month`.
2. You could look into moment().parsingFlags()

[code]

As you can see in one case you have parsedDateParts.length == 2 and in the other == 0. So you could go that way

[2018-06-27 21:42] #4605 closed

[2018-06-27 21:47] ichernev commented on #4603
That is the reason why moment.duration handle milliseconds (up to hours), days and months separately. When you have 13:00 on Monday and you add 2 days, you want to get 13:00 on Wednesday, no matter what DST happens in the mean time (except if 13:00 Wed is invalid, because DST skips over it, of course).

If you add 48 hours though then it could be 12:00 Wed, it could be 14:00 Wed, it could be 13:00

[2018-06-27 21:47] #4603 closed

[2018-06-27 21:51] ichernev commented on #4600
@siboulet can you provide some proof about optional dot.

I'm not sure we could even fix that. We could provide a parsing regex, but it will never pass strict parsing.

[2018-06-27 21:53] ichernev commented on #4598
Thank you @lad475 and @eternalharvest

[2018-06-27 21:53] #4598 closed

[2018-06-27 22:00] ichernev commented on #4595
@CamWalker currently moment has creationData().format, which gives you the format specified explicitly.

If moment managed to parse via ISO it does include the format used, but if its RFC_2822 it puts a function that returns undefined... I guess this is a bug (patches welcome).

If moment uses Date constructor, there is obviously no way to get the format. This is your case. Sorry -- nothing we can

[2018-06-27 22:00] #4595 closed

[2018-06-27 22:08] ichernev commented on #4591
Close in favor of #4599

[2018-06-27 22:08] #4591 closed

[2018-06-27 22:11] #4587 closed

[2018-06-27 22:16] ichernev commented on #4582
Some applications slap +00:00 when they mean UTC, go figure. If I were you I'd just use moment-timezone (if that worked), or manually detect +00:00 in the date string and do something accordingly.

moment, without timezone, does not understand zones/offsets. It just has offsets. So utc in moment ligo is exactly equivalent to offset +00:00. Moment is unlikely to change in that regard, but moment-ti

[2018-06-27 22:16] #4582 closed

[2018-06-27 22:21] ichernev commented on #4573
@jamespedid _tzm is not part of the moment api. Go check the docs: http://momentjs.com/docs/

Also keep in mind that moment doesn't understand timezones, it can only help to some extend with utc offsets.

Date objects in js have a "built-in" time zone which is the local timezone. So there is no way to take an offset from Date object during construction and then present it in a getter.

moment().ut

[2018-06-27 22:21] #4573 closed

[2018-06-27 22:22] #4572 closed

[2018-06-27 22:23] #4569 closed

[2018-06-27 22:30] ichernev commented on #4559
@kenmorechalfant why is it necessary?

Well, after adding a non-backwards compatible module system in ES2016 I'm even surprised you can load moment at all. Go ask the smart guys behind the new standard. Is there a provision to make milions of lines of "old" ES5 code to "just work" -- no. Go figure!

We should have 2 (at least) targets, one for UMD (ES5) and one for ES2016 import / export crap. Tha

[2018-06-27 22:30] #4559 closed

[2018-06-27 22:33] ichernev commented on #4550
@mimen I'd suggest you make a function to parse/format in go durations, and distribute it as a moment plugin. I don't think we'll include such a feature in core (its just not something most people will use).

[code]

[2018-06-27 22:33] #4550 closed

[2018-06-27 22:37] ichernev commented on #4536
@ispacowanguitar some of the time the moments are created in the same millisecond, some of the time not. Nothing to see here.

[2018-06-27 22:37] #4536 closed

[2018-06-27 22:44] ichernev commented on #4532
@fstanis when you have a well defined, still niche use case its best to build something from scratch :)

A hack I will suggest is to prepend a leap year at the begining/end so that 29th Feb will always be valid, and then later set the year.

May I ask why do you need a moment object to keep something that is not quite a moment (date + month). If you always get the year later, just keep the 2 vars

[2018-06-27 22:44] #4532 closed

[2018-06-28 02:30] hahn-kev commented on #4641
Looks like this same issue has come up before #2166 Unit tests should probably be made for this, it's not even a corner case.

[2018-06-28 05:33] ichernev commented on #4508
The format() call produces a stupid verbatim concatenation of strings, with some minor availability for tweaking (nominative/accusative month names are supported somewhat).

The best way to do this is for the function to collect the tokens and then figure out a correct way to spell it out in each locale. This is, unfortunately, out of the scope of what moment is doing right now.

[2018-06-28 05:33] #4508 closed

[2018-06-28 05:36] ichernev commented on #4504
https://github.com/moment/moment/issues/2416

[2018-06-28 05:36] #4504 closed

[2018-06-28 06:08] martinpitt commented on #4659
I'm afraid it's not free, this is Red Hat's paid coverity plan.

Note: Usually the "Fixes #" in the associated PR will auto-close the issue when it lands; this is less confusing and more reliable than manual tracking.

[2018-06-28 07:32] ichernev commented on #4516
@ashsearle thank you! I completely agree, I don't think this is something moment could handle, even if we wanted to.

@sellakkumaran you can try to address this issue with browser vendors themselves. You can also try to work around it using an iframe (it could get a new "context" with the correct time in it), or something similar. But any crazy hack like this has no place in moment.

[2018-06-28 07:32] #4516 closed

[2018-06-28 07:37] ichernev commented on #4507
@xehpuk so if I understand correctly your proposal is to handle moment.utc(...).isXXX(str) to mean that the str is utc as well?

What if the moment on the left has utcOffset set manually, would you want that too to propagate to the string? I'm not so sure.

I think you need to specify a moment object and remove all ambiguity as of what it means.

I think we should keep the logic as is -- it is at

[2018-06-28 07:37] #4507 closed

[2018-06-28 07:38] #4500 closed

[2018-06-28 07:40] ichernev commented on #4498
@Krappt @ebrandell @vlukyanoff can you please create a minimal project using your stack (whatever that is) that reproduced the problem so that you give some chance to anybody willing to help.

[2018-06-28 07:43] ichernev commented on #4484
@ScreamZ heh, this is a very well discussed topic here, mostly related to webpack.

We're not really changing that for 2.x. For 3.x we might just provide separate targets, but that code is not moving away anytime soon.

[2018-06-28 07:43] #4484 closed

[2018-06-28 07:47] ichernev commented on #4469
@sassanh I think it's pretty clear that there is some DST going on there. Browsers (and Safari in particular) are notoriously buggy in that regard. In moment 3.x DST will be handled internally, so all of that will go away. 2.x however -- there is no solution, other than to write tons of checks around each moment creation.

You can also try to pass the variables directly to moment, because using `m

[2018-06-28 07:47] #4469 closed

[2018-06-28 07:51] ichernev commented on #4448
@eschiebel you're correct. We need to change the documentation :)

The implementation of `format()` evolved, so that you can plug in a `defaultFormat`. I'd just use `.toISOString()` to make sure its all kosher and make a PR to the docs repo.

[2018-06-28 07:51] #4448 closed

[2018-06-28 07:51] sassanh commented on #4469
Thanks for clarification, I guess this is resolved till 21 March 2019 when this issue can show it again.

[2018-06-28 07:57] ichernev commented on #4476
@inside I totally understand your point, but I'd side with "you're holding it wrong" :)

A few solutions:

1. You keep track of the localeConfig object manually, update it with the new stuff when needed, delete the old locale that it was associated with and set it as a brand new locale (to avoid memory buildup)

2. Currently updateLocale lets you "unupdate" it later on. So its like browsing histor

[2018-06-28 08:03] ichernev commented on #4440
@marwahaha I can argue how "useful" it is to display time(zone) in a non-standard format.

Also "polluting" the already crazy situation of timezone tokens with something, we can't even point to (again -- is there a standard about this?) is not a great idea.

@rishu2482 I understand that you want to help with moment's development, and your patch is not bad, but problems in programming are not alway

[2018-06-28 08:03] #4440 closed

[2018-06-28 08:05] ichernev commented on #4438
Close in favor of #4445

[2018-06-28 08:05] #4438 closed

[2018-06-28 08:07] ichernev commented on #4435
@newtang there is the concept of best-fit in the code for handling multiple formats, so it shouldn't be too hard to add.

[2018-06-28 08:10] ichernev commented on #4422
I hope most discussion participants got their problems sorted out :) Thank you @Leeds-eBooks

For 3.x we might have more versions of moment with/without the dynamic import/es6 so this is less of an issue.

[2018-06-28 08:10] #4422 closed

[2018-06-28 08:13] ichernev commented on #4416
@mzbyszynski thank you for reporting this. Close in favor of #4417

[2018-06-28 08:13] #4416 closed

[2018-06-28 08:16] ichernev commented on #4459
TS 1.x vs 2.x. Expect a fix with 3.x

[2018-06-28 08:16] #4459 closed

[2018-06-28 08:20] ichernev commented on #4415
@mmarvick can you pull some locale data examples from other prominent platforms (Java, .NET etc).

I'd be happy to merge this if there is sufficient evidence its correct :)

[2018-06-28 08:22] ichernev commented on #4402
@YounGoat you can create a moment in that week, and then use `startOf`/`endOf` to get the first/last part of it.

[code]

[2018-06-28 08:22] #4402 closed

[2018-06-28 08:28] #4358 closed

[2018-06-28 08:31] ichernev commented on #4349
This is a recurring issue in moment. In general we side with CLDR, in practice I'd advice all interested parties to patch the locales they way they see fit (esp if you're developing a one-locale-targeting application).

[2018-06-28 08:33] ichernev commented on #4345
You can overwrite `moment.createFromInputFallback` and throw as many exceptions as you want in it :)

I think we're doing enough on the moment side.

[2018-06-28 08:33] #4345 closed

[2018-06-28 08:37] ichernev commented on #4344
@rokoroku how would you handle unit "holes", like `{years: true, seconds: true}`. Provide more info on edge cases and we can discuss the proposal.

[2018-06-28 08:40] vvs commented on #4619
@ichernev, just closing the issue without any comment? Is it fixed, is it not going to be fixed, is the issue not an issue at all?

[2018-06-28 08:41] ichernev commented on #4325
@mschipperheyn unfortunately the current moment interface does not allow for granual specification of what units to include, exclude in a locale friendly way.

A proper/good way to handle this is something similar to the Intl API: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat

We're open to suggestions/PRs on that front, but we're **NOT** making mi

[2018-06-28 08:41] #4325 closed

[2018-06-28 08:44] ichernev commented on #4324
You could use localeConfig.preparese to tweak the input so it passes strict. Use updateLocale to patch the relevant locales for you locally.

I'm reluctant to merge this in core.

[2018-06-28 08:44] #4324 closed

[2018-06-28 08:45] ichernev commented on #4323
Something simple that sets NaN for properties and/or specifically handles invalid durations in the constructor (to produce an invalid duration) should do the trick.

[2018-06-28 08:47] ichernev commented on #4282
@xeii you need to provide some "official" place which states what is official in each language. CLDR is also a good starting point.

[2018-06-28 08:51] jfroffice commented on #4600
@marwahaha  @siboulet

I did know you can omit de `.` in the parsing.

[2018-06-28 08:52] ichernev commented on #4277
@fbonzon I skimmed over #3375, but I'm afraid we do not want to add yet another token to all locales to fix a particular locale weirdness.

What I am more open to is provide more "hook/plugin" points for locales that do want to do something crazy to be able to (like preparse and postformat). Actually this particular issue might be solved with postformat (although ugly).

Option 1 from #3375 is mor

[2018-06-28 08:52] #4277 closed

[2018-06-28 14:45] amilajack commented on #4513
Implications for the codebase are that it will need to allow users to import an esnext build which uses es6 modules. Having users import `moment` via es6 modules rather than commonjs that will allow apps such as `webpack`, `rollup`, `parcel`, etc to [treeshake](https://webpack.js.org/guides/tree-shaking/) modules, producing smaller and more optimized builds for the user

[2018-06-28 15:28] mmarvick commented on #4415
I can start with Java on my Mac and try others as I have time..

Here's a quick Java program

[code]

Output is:
[code]

[2018-06-28 19:03] 0x70b1a5 commented on #2566
That's pretty dumb, locale should be optional.

[2018-06-28 19:09] ichernev commented on #4513
@amilajack you mean the es6 import/export? So there needs to be a separate codebase (they can not coexist as with UMD in the past).

Also treeshaking moment is non-sense -- its one object with everything attached to it. Anyway, I though there was an ES5 compatible way to export ES6 modules, I guess I was dreaming a bit too much.

[2018-06-28 19:09] #4513 closed

[2018-06-28 19:12] ichernev commented on #4641
@hahn-kev yes, it is related. It just needs to happen with abs too. Or maybe abs can just switch the signs if necessary -- that will preserve the +/- situation. The duration code needs to be examined if the rest of the methods are OK with that :)

The gist is that bubbling destroys that information, but keeping it might make sense. "Add 2 days - 2 minutes" will be executed exactly as this, instead

[2018-06-29 05:01] ichernev commented on #4170
@benelliott can you please check if @kmmbvnr suggestion works for this setup?

[2018-06-29 06:59] Sakarisson commented on #4609
@ichernev I can create a PR. I'll tag you in it if it's okay. Probably won't be until next week

[2018-06-29 08:22] ichernev commented on #4415
What about CLDR, I forgot about them. I'm almost convinced :)

[2018-06-29 11:02] guspalmer24 opened #4683 "Setting minutes from the result of .diff(moment, 'minutes') does not work correctly"
Apologies but I am busy and do not have time for the whole shebang here, but there seems to be an issue with either the result of .diff(moment, 'minutes') or the .minutes(someDiffResultInMinutes). I guess it might be because I was going from PM back to AM or something, like .minutes(-735) but it lost the quarter of an hour.

Getting the diff as milliseconds and using .add(dif, 'milliseconds') work

[2018-06-29 17:35] SamVerschueren commented on #2416
With [ngx-build-plus](https://github.com/manfredsteyer/ngx-build-plus) you should be able to adjust the Webpack config in Angular CLI without ejecting.

[2018-06-29 21:08] LFeh commented on #2416
@SamVerschueren THIS IS AMAZING 😸

[2018-06-30 20:01] mmarvick commented on #4415
Anyone with more familiarity with CLDR able to help with this one? :) I poked around their site for about 30 minutes and couldn't find any obvious way to figure this out.

[2018-06-30 21:44] marcelothebuilder commented on #348
+1

[2018-07-01 14:31] dzamlo opened #4684 "Non-breaking space should be used between some date and time elements"
Without non-breaking space, it's possible that some elements that shouldn't be separated are on different line. For example the the month name and day of the month could be on two different lines.

The exact rules of where to use non-breaking space are likely to be different for each locale.

To fix that, I think that the locale files could be changed to use the non breaking spaces in `longDateFor

[2018-07-01 18:08] tuononh opened #4685 "Cannot convert from a timezone to UTC"
**Description of the Issue and Steps to Reproduce:**
I have a datetime picker component which allow user to choose timezone as well. My goal is get UTC datetime from the datetime and timezone user picked.
I.e: User picked "2018-07-02 07:00:00" and timezone is "+07:00", I should get "2018-07-02 00:00:00". And when user picked "2018-07-02 08:00:00" and timezone is "+08:00", I should also get "2018-0

[2018-07-02 08:38] marwahaha commented on #4685
You can use
[code]

See https://momentjs.com/timezone/docs/#/using-timezones/ for more information.

This is a great question for [Stack Overflow](https://stackoverflow.com/). Please re-open if you have other questions.

[2018-07-02 08:38] #4685 closed

[2018-07-02 08:41] #4086 closed

[2018-07-02 08:47] marwahaha commented on #4415
Does CLDR have es-us ?
https://www.unicode.org/cldr/charts/latest/verify/dates/es.html

I think @mmarvick is correct here, but I will keep asking around.

[2018-07-02 14:14] kcoram opened #4686 "How does from() handle partial dates?"
**Description of the Issue and Steps to Reproduce:**

My team and I are trying to use moment().from(dateOfBirth) to calculate a person's age. Our unit tests started failing on July 1st. We expected '17.5' to be truncated to give us an age of '17 years', but our tests are now failing saying that '18 years' does not equal '17 year'.

[code]

Re-reading the docs on https://momentjs.com/docs/ it isn't

[2018-07-02 15:51] MHA15 commented on #4679
Yeah I know that there is some type definitions for it but I wants to inherit that to customize it for my self but it can not be with just type definitions it must be implemented class way

[2018-07-03 02:07] rokoroku commented on #4344
https://github.com/moment/moment/blob/2e2a5b35439665d4b0200143d808a7c26d6cd30f/src/locale/en-au.js#L29-L44

Since moment already has locale strings for each time units, we can compose the duration with existing unit strings by mathematical modulo and floor function.

[2018-07-03 09:53] mankey-ru opened #4687 "Moment.defaultFormat does not affect date parsing"
**Description of the Issue and Steps to Reproduce:**
Moment.defaultFormat affects only format() function and does not affect date parsing
[code]
Is that right?

**Environment:**

Chrome 67 on Windows 10

[2018-07-03 11:11] f-aubert opened #4689 "Localized date with day and month (without year), or generic localized solution"
I would need a localized variation of LL, but without year token.
In other word LLMD (localized month day), defined for example as D MMMM for 'fr' and MMMM D  for 'de'.

But it would soon be a nightmare to handle all kind of variation to localized formats, maybe generic syntax could be implemented:
LL^Y or something like that would remove all Y tokens from the standard LL
L[fr]=D MMMM,L[de]=MMMM D

[2018-07-03 15:49] chrisrodz commented on #4415
👋, native spanish speaker here. Just wanted to offer my 2 cents in that `26 de enero de 2018` or `D [de] MMMM [de] YYYY.` is definitely the date format I would expect out of any system. In fact, when they taught us how to write the date in school I remember sometimes points would be deducted if you failed to format it correctly. It's also not a thing that changes depending on wether you are in a s

[2018-07-03 21:54] kenmorechalfant commented on #4559
@ichernev Haven't touched that project in a couple months but it wasn't "necessary". I just preferred using require() for consistency because it was what I was already using in Node and thus used it in Parcel and was having no issues with any other of the dozen scripts I was using. I would love to just do everything in ES2016 and use regular 'imports' but Node doesn't support them yet. I know that

[2018-07-04 09:09] ashsearle commented on #4683
This doesn't sound like a bug.

It sounds like you expected `.minutes(x)` to behave the same as `add(x, 'minutes')`, but it's more like `.minutes(0).add(x, 'minutes')`

There's nothing in this report to suggest a problem with `.diff(moment, 'minutes')`

[2018-07-04 09:14] ashsearle commented on #4686
I guess [fromNow](https://momentjs.com/docs/#/displaying/fromnow/) is the most relevant bit of the documentation, and says:

Range | Key | Sample Output
-- | -- | --
320 to 547 days (1.5 years) | y | a year ago
548 days+ | yy | 2 years ago ... 20 years ago

That could probably be clearer, but basically it says that years are rounded, not floored.

i.e. "17 years" describes the range from 16.5 to 1

[2018-07-04 09:16] ashsearle commented on #4687
Yes, that's correct.

[2018-07-04 20:28] peterpeterparker commented on #2517
It's me or the webpack "solution" like `new webpack.ContextReplacementPlugin(/moment[\/\\]locale$/, /a^/)` isn't applicable anymore with Angular v6 (since webpack can't be ejected)?

[2018-07-05 17:52] kcoram commented on #4686
Thank you, @ashsearle . That clarifies the matter for me.

[2018-07-05 17:52] #4686 closed

[2018-07-05 18:42] rajat-garg commented on #4314
Hi @marwahaha , I want to work on this.
Should I add strict mode docs before now option in parse

[2018-07-05 21:03] bencooper222 commented on #4530
I'm super partial to prettier. FB uses it for all their OSS product so it's battle tested and, importantly, makes reasonable choices for you to eliminate debates over the right style. +1 to `eslint:recommended` or airbnb eslint and prettier with either.

[2018-07-06 06:39] shreyashah115 opened #4690 "[Bug] Timezone for Sudan i.e Africa/Khartoum has been changed"
It has been changed from GMT+3 to GMT+2

[2018-07-06 08:28] marwahaha commented on #4314
Hi @rajat-garg - that sounds great.

[2018-07-06 08:40] cheng93 commented on #4314
@rajat-garg @marwahaha

There is an associated PR by @natedehorn in case you missed it.

[2018-07-06 16:32] MaxPRafferty commented on #2728
@mj1856 @ichernev Sorry to necro, but this issue comes up as the top result for `moment format "sept"`, and I was looking for a little clarity. At this point, is the preferred method of achieving this to modify the english locale manually? e.g.
[code]

[2018-07-06 16:51] deed02392 opened #4691 "Losing time zone"
**Issue:**
Losing timezone data when provided in offset format in string:
[code]
![image](https://user-images.githubusercontent.com/3536087/42390559-34f2d012-8144-11e8-8ee6-7bbe22410fa8.png)

On my local machine I get the expected result of:

![image](https://user-images.githubusercontent.com/3536087/42390928-8a76709c-8145-11e8-9d0c-52d90440ac84.png)

**Environment:**

 Node v6.14.0 on Google Fire

[2018-07-06 20:03] deed02392 commented on #4691
As soon as I wrote this and left the office, I realised this is probably expected behaviour, because the server has a zero offset, the default behaviour is to represent `moment` objects in the timezone of the server. Because I'm receiving dates in one timezone and want to send them back to the user, it's my responsibility to tell the format function I want to output in the original timezone.

[2018-07-06 20:04] #4691 closed

[2018-07-06 23:09] DavidJohnWilliams commented on #3808
Hi guys, can anyone answer why this hasn't been merged yet? TypeScript supported modules from 1.5+ (besides is anyone is even still using older versions?). For those working on older projects that cannot target ES6 or use module loaders this would be most useful. Currently we have to manually add the line which means not being able to use package managers...

[2018-07-07 13:42] abdul-qadirdeveloper opened #4692 "moment add fractional days is not working properly in Microsoft Edge"
I wanted to add 2.7 days to a moment date in internet explorer it added on 2 days, whereas in Chrome it was adding exactly 2.7 days.
I ran following code in console if Microsoft Edge
moment('01-01-2018').add(2.7,'days').toDate();
in Microsoft Edge it returns
Wed Jan 03 2018 00:00:00 GMT+0500
whereas in Chrome it is returning
Wed Jan 03 2018 16:48:00 GMT+0500

I am using
moment.js version : 2.8.3
M

[2018-07-08 15:34] Amannor opened #4693 "isValid function is inconsistent for legal string literals"
**Description of the Issue and Steps to Reproduce:**

When running isValid on various string literals, it returns inconsistent results:
moment("JULY-Sunday", "MMMM-dddd").isValid()); //true
moment("JULY-Monday", "MMMM-dddd").isValid());  //false
moment("JULY-TUESDAY", "MMMM-dddd").isValid());//false
moment("JULY-WEDNESDAY", "MMMM-dddd").isValid());//false
moment("JULY-THURSDAY", "MMMM-dddd").isVal

[2018-07-08 20:01] rajivshah3 commented on #3624
For anyone who's still looking for a solution, this may help mitigate the issue (with the exception of a few edge cases) but won't fix the root issue of RN causing a crash during the try-catch `require`:

[code]

[2018-07-09 14:04] Annoa opened #4694 "Parsing a time before 1879 will add 12 minutes and 12 seconds on Chrome"
**Description of the Issue and Steps to Reproduce:**
Parsing a time before 1878-12-31 at 23:47:48+01:00 will add 12 minutes and 12 seconds to any time
moment('1878-12-31T23:47:47+01:00').format('HH:mm');
= 23:59

But for any second after that will return the correct time
moment('1878-12-31T23:47:48+01:00').format('HH:mm');
= 23:48

**Environment:**
I have tried it on Edge and Firefox but only repr

[2018-07-10 07:54] reposys opened #4696 "Adding month"
The addition of one month to the date 2018-02-28 leads to the result of 2018-03-28.
Here, 28 DAYS were added, but it is necessary to add rightly ONE MONTH. As the next month is March, the result should be 2018-03-31.
Isn't it?
[code]

[2018-07-10 21:47] ptdv commented on #4505
Same issue - looks like a path issue with './locale' vs '../locale'. Is anyone looking into this bug?

[2018-07-11 07:03] DavidJohnWilliams commented on #4696
This is standard behaviour (same in .Net) see [DateTime.AddMonths](https://msdn.microsoft.com/en-us/library/system.datetime.addmonths%28v=vs.110%29.aspx). What you are asking is to special case the last day of the month, this would result in unexpected behaviour. If you added one month to 2018-02-15 you would expect the result 2018-03-15 (28 days or 29 for a leap year) if you added one month to 20

[2018-07-11 07:55] svk31 commented on #4505
https://github.com/moment/moment/issues/2979

Looks like it's been the case for years, why they won't fix it I have no idea. I just ran into this as well when trying to use jsnext:main in webpack instead of main.

[2018-07-11 08:51] ashsearle commented on #4694
It looks like Chrome has started to add and use historic timezone information in v67, with historic timezone changes being of the order of minutes and seconds, which leads to this unexpected behaviour.

e.g. see this [Chrome bug report](https://bugs.chromium.org/p/v8/issues/detail?id=7843)

I'm not sure exactly what your location is, but you can see historic timezone information at [timeanddate](h

[2018-07-11 08:57] ashsearle commented on #4693
This is predictable behaviour.

You're only providing a partial date (the month), so moment assumes the 1st of the month, in the current year.

It then validates that the day-of-the-week matches the date.

In 2018: July 1st was a Sunday, so that's valid.  No other day of the week is considered valid.

This behaviour is consistent.  e.g. May 1st was a Tuesday, so `moment("MAY-Tuesday", "MMMM-dddd")

[2018-07-11 09:01] ashsearle commented on #4690
The core moment library doesn't contain any timezone information: all timezone info is derived from the browser's underlying Date implementation.

Can you demonstrate the bug?  If you're using it, perhaps it would be more appropriate to raise this in against [moment/moment-timezone](https://github.com/moment/moment-timezone)?

[2018-07-11 11:01] inbalg commented on #4066
Is there a plan to fix `moment().locale('en-us').weekday()` to return Monday and not Sunday?

[2018-07-11 15:07] icambron commented on #4066
@inbalg No, that is correct

[2018-07-11 15:07] Amannor commented on #4693
I see, thank you. Is there a way to check whether a string is valid (i.e. adhering to a moment format) regardless of context?
For example, this: moment(<s1>-<s2>, "MMM-dddd") will be valid for any string of the format:
s1 is a member of moment.monthsShort() and s2 is a member of moment.weekdays()?

[2018-07-12 05:48] Eliyas commented on #4692
The issue is not with moment but with Edge browser Date API itself.

I have tested the w3school example of setDate() method in both browsers. Edge doesn't work as expected.

try to open the link in both browsers
https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_setdate

[2018-07-12 13:10] jacquev6 opened #4698 "moment.HTML5_FMT.WEEK should be 'GGGG-[W]WW'"
The current value of HTML5_FMT.WEEK is `"YYYY-[W]WW"` but this format is supposed to parse and format *ISO* weeks. It should be `"GGGG-[W]WW"`.

When parsing, `YYYY` is equivalent to `GGGG`, but when formatting, it's not : for a year like 2004 when the first ISO week starts in the previous year, formatting with "YYYY" returns "2003":

    moment("2004-W01", moment.HTML5_FMT.WEEK).format(moment.HTM

[2018-07-13 07:12] #4690 closed

[2018-07-13 10:42] robzenn92 commented on #4692
@abdul-qadirdeveloper  Not sure if this can help you (I did not use moment version < 2.12.0), however as stated in the [documentation](http://momentjs.com/docs/#/manipulating/add/) for `moment().add(Number, String)`:

Hence:
Testin in Chrome Version 67.0.3396.99 (64 bit)
Moment version: 2.22.2

As expected, decimal values that are passed for days are rounded to the nearest integer.
[code]
In order

[2018-07-13 10:47] #4692 closed

[2018-07-13 13:09] juanarbol commented on #4263
I solved without using `.unix` method, just `moment(timestamp)`

[2018-07-13 15:19] moczard opened #4699 "[WIERD]If I add 48 hours to 2018-10-27 I get 2018-10-28"
**If I add 48 hours to 2018-10-27 I get 2018-10-28**

Code:
import moment from 'moment';

for(let i = 1; i <29; i++){
  console.log(moment([2018, 9, i]).add(48, 'h').format('YYYY-MMMM-DD'));
}

Result:
2018-October-03
2018-October-04
2018-October-05
2018-October-06
2018-October-07
2018-October-08
2018-October-09
2018-October-10
2018-October-11
2018-October-12
2018-October-13
2018-October-14
2018-O

[2018-07-13 21:42] ashsearle commented on #4699
You're in the 'Central European Summer Time' zone, and will shift back to 'Central European Time' on the 28th October 2018 when clocks move back from 3AM to 2AM.

In essence, the 28th October will be 25 hours long for you.

[2018-07-13 21:56] moczard commented on #4699
That makes sense, thanks.

[2018-07-13 21:56] #4699 closed

[2018-07-13 22:04] ashsearle commented on #4698
@jacquev6 Well spotted! Thanks for logging the issue :-)

[2018-07-15 17:13] ralphsmith80 opened #4702 "isValid returning true for invalid date string when format is provided"
**Description of the Issue and Steps to Reproduce:**
The error is present in my environment but this can also be reproduced in any browser dev tool console (that I checked) on the [Moment Doc page](https://momentjs.com/docs/).

I'm pulling off part of a dynamically generated URL to determine if is a valid date matching the format 'YYYY-MM'. I was initially doing this with `moment(<data-test-string

[2018-07-15 18:01] ralphsmith80 commented on #4702
As a workaround for now I'm using a regex to ensure the format is was I want before running `moment`.

[code]

[2018-07-17 11:55] ZaLiTHkA opened #4703 "Having problems with the `Wo` format string and custom locales"
**Description of the Issue and Steps to Reproduce:**

I'm using this in a custom dashboard system, but the systems that build the source data may have a week start that doesn't match their locale. As such, I have to configure custom locales in order to get the language and "week start" combinations that I require.

After creating a new Moment instance using one of these custom locates, when I try

[2018-07-17 16:14] quangas opened #4704 "Diff weeks seems incorrect"
We're trying to get weeks for two date ranges and it appears to be incorrect.

var moment_d1 = (07-30-2018);
var moment_d2 = (09-10-2018);
var moment_d3 = (07-30-2018);
var moment_d4 = (11-05-2018);

moment_d2.diff(moment_d1, ‘weeks’) -> it shows 6 weeks, seems correct
moment_d4.diff(moment_d3, ‘weeks’)  -> it shows 13 weeks, should be 14 weeks.

Is something wrong with the calculation or timezone

[2018-07-17 17:12] piltsen commented on #2979
To confirm @francisrod01 's solution, I have changed my import, so that instead of

`import moment from 'moment/min/moment-with-locales'`

I changed to

`import moment from 'moment'`
`import 'moment/min/locales'`

And this solved for me. Hope it helps.

[2018-07-17 20:22] portal7 opened #4705 "Cannot find Moment JS Scripts after install via Nuget Package on Visual Studio 2017"
**Description of the Issue and Steps to Reproduce:**

- Create a new Project  "Web Application ASP.NET Core 2"
- Open Nuget Package Console and run
Install-Package Moment.js
try to find Moment Script File on ASP.NET Core 2 Project after successfully installation

**Result:**
No package or file found  on  "Content/Scripts"  or wwwroot/Content/Scripts  or any location

**Environment:**
Chrome  (Not

[2018-07-17 22:22] #4704 closed

[2018-07-17 23:02] zouboyun commented on #3403
try using

`moment(moment(unix).format('YYYYMMDDkkmmss'), 'YYYYMMDDkkmmss').fromNow()`

works for momentjs v 2.22.2

[2018-07-18 08:53] Fzwael commented on #2505
Any updates ?

[2018-07-18 08:55] phanivaranasi opened #4706 "Support for broadcast calendar"
Hi Team,
Is there any support for broadcast calendar

[2018-07-18 13:07] emil13 opened #4707 "CalendarFormat compares startOfDay instead of now"
**Description of the Issue and Steps to Reproduce:**
In moment/src/lib/moment/calendar.js(21) calendarFormat is called with the variable sod instead of now. According to the documentation of calendar time:

This causes problems as in my calendarFormat I want to display the amount of minutes since the moment if it's less than an hour ago. But since the parameter now isn't actually now but rather st

[2018-07-18 13:26] leonoratelford opened #4708 "moment().format() throwing TypeError: date.clone is not a function"
**Description of the Issue and Steps to Reproduce:**
I am making a simple calendar widget for a search engine in React. I have in my constructor as follows:
`this.state= {
    startDate: moment(),
    endDate: moment()
}`

This compiles fine and the calendar renders correctly. However, when I try to format the date as follows:

`this.state = {
    startDate: moment().format(),
    endDate: moment(

[2018-07-18 21:57] indefinitelee commented on #2373
can't personally vouch for it but have read about Day.Js as an alternative
https://github.com/iamkun/dayjs

[2018-07-19 05:32] QuantumInformation commented on #1754
Time to mute this thread

[2018-07-19 06:21] vvpvvp opened #4709 "moment("0004-01-01T07:59:59+08:00").format() result error"
**Environment:**

Chrome 67 on OSX

[code]
bug:

[code]

other message:

[code]

[2018-07-19 08:16] igl commented on #1754
@alancnet moment will probably never be changed. It's too much of a change and there is enough push back from users who learned to embrace the current behaviour.

Check out their new project: [luxon](https://github.com/moment/luxon)
It's very nice, modern and should perform way better than moment-immutable which just wraps everything in `.clone()` calls.

[2018-07-19 16:47] numen31337 opened #4710 "Wrong week number is returned from the "week()" function"
**Description of the Issue and Steps to Reproduce:**
When creating a date, for example `[2018, 11, 29]`, and performing the `week` function the result is `52`, but for `[2018, 11, 30]` and for `31` as well it returns `1`. The expected result is `52`.

**Example**
[code]
[jsbin live example](https://jsbin.com/zuwebijiqi/1/edit?js,console)

**Environment:**
`Safari 11.1.2 on OSX`

**Other informatio

[2018-07-19 17:44] Blapi commented on #4710
We encounter the same problem.
`console.log(moment("2018-w15", "YYYY-[w]WW").add(38, "weeks").format("YYYY-[w]WW"))`
shows `2018-w01`

[2018-07-20 00:14] afestein commented on #3624
I also experienced this issue using React Native and was able to avoid it by including all locales alongside Moment, i.e.
[code]
(Alternatively, `moment/min/moment-with-locales` is also provided but it wasn't compatible with some of our other formatters.)

[2018-07-20 08:31] ashsearle commented on #4710
@numen31337 You probably want to be using [weekYear()](https://momentjs.com/docs/#/get-set/week-year/) instead of `year()`

@Blapi `WW` is the ISO Week, so you most likely need to use `GGGG` instead of `YYYY` when formatting (`GGGG` is the ISO "Week Year")

[2018-07-20 08:43] ashsearle commented on #4709
Chrome 67 added and uses historic timezone information - which leads to some surprising date/time formatting before countries started aligning and standardising around GMT / UTC offsets.

Example: [Chongqing](https://www.timeanddate.com/time/zone/china/chongqing) has an offset of 7 hours 6 minutes 20 seconds until 1928, when it aligned as +7 hours.

moment isn't doing anything wrong, and neither i

[2018-07-20 08:56] numen31337 commented on #4710
I'll clarify this a bit, here is code with dates and related output:
[code]
The issue for me is that `week` for `2018, 11, 30` returns `1` instead of `52`. Maybe I misunderstood some concepts of this library? In the long run, my task was to calculate the number of the calendar weeks between two dates and I've done this with the following workaround:
[code]
But I still wundering about this `week` f

[2018-07-20 09:48] vvpvvp commented on #4709
I know it's because chrome use historic timezone info.
But I think moment's result is incorrect.

[code]
result should be:
[code]
like chrome's result:
[code]

[2018-07-20 11:01] ashsearle commented on #4710
I think you probably have an expectation of how week-numbering works that differs from established practice.

e.g. you think 1st January is always in week 1, and 31st December is always in week 52/53 - and, to be fair, some wall calendars do show week numbering like that.

When it comes to standardising week numbers, the preference is to ensure that a week always contains 7 days.  For the ISO stan

[2018-07-20 14:57] andrewgill-draysontechnologies opened #4711 "Time calculation can be out by 1 hour depending on timezone, OS and browser"
The following block of code can give different hours depending on your timezone setting and browser used.

[code]

e.g. When performed on a Mac with timezone set to London/UK BST at 15:47 using the same block of code the output has a 1 hour difference:

Chrome Version 67.0.3396.99 (Official Build) (64-bit):
1532098077351:4 hr 47 m

Safari Version 11.0.3 (13604.5.6):
1532098077351:3 hr 47 m

**Envi

[2018-07-20 16:16] ashsearle commented on #4711
Can you confirm whether this problem occurs in normal use, or only when you're manually changing your OS timezone?

I'm wondering if this is due to [inconsistent OS timezone propagation](https://github.com/moment/moment/issues/4516#issuecomment-376443186)

Are all the OS/browser combinations you mention affected, or just some subset on macOS?

[2018-07-21 07:20] numen31337 commented on #4710
Thank you for the clarification. That's really surprising for me. I really miss the API like from Apple Calendar [dateComponents(_:from:to:)](https://developer.apple.com/documentation/foundation/calendar/2293176-datecomponents) where you can ask for a diff in specific components, in my case `Calendar.current.dateComponents([.weekOfYear], from: sinceDay, to: targetDay)` and receive the diff in the

[2018-07-21 07:20] #4710 closed

[2018-07-21 14:19] fkiller opened #4712 "UNIX TIMESTAMP 1532094075850 returns 2018-07-20 09:07:85"
Certain UNIX TIMESTAMP returns invalid datetime, which has 85 seconds. Reproduceable

[reproduced sandbox](https://repl.it/repls/ChocolateExpensiveBackground)

Code
[code]

Output
[code]

[2018-07-21 14:21] #4712 closed

[2018-07-22 18:13] phaux opened #4713 "[ES Modules] Missing js extensions in import statements"
**Description of the Issue and Steps to Reproduce:**

When loading `src/moment.js` with `<script type=module>`:

**Environment:**

Any browser with support for ES modules.

[2018-07-23 04:43] heck4 opened #4714 "Month ordinal strict parsing is not working"
**Description of the Issue and Steps to Reproduce:**
I believe that this should be a valid value and format, with no ambiguity:
`moment('22nd,7th,2018', 'Do,Mo,YYYY', true).isValid()`
I would expect that to be true, and matches today's date which is July 22nd, 2018

For comparison this works:
`moment('22nd,7,2018', 'Do,M,YYYY', true).isValid()`

**Environment:**
Chrome Version 67.0.3396.99 (Offici

[2018-07-23 07:44] andrewgill-draysontechnologies commented on #4711
This is normal use. i.e. start up windows or mac os with timezone set to Europe/London BST.

I only mention that some other timezones (daylights savings time related) also exhibit the problem while other timezones do not.

The code above will give different hour results if you are set to BST depending on which OS and browser you are using.

Chrome is consistent and is always plus 1 hour on PC or M

[2018-07-23 08:59] irwanhl opened #4715 "error when count different days in years, month and day"
var test = _AGE('2004-03-31')

function _AGE(data){

	var now = formatDate()

	console.log("now", now, "birthdate", data)
	var arrNow = now.split('-')
	var yearNow = parseInt(arrNow[0])
	var monthNow = parseInt(arrNow[1])
	var dayNow = parseInt(arrNow[2])

	var birth = data.split('-')
	var yearBirth = parseInt(birth[0])
	var monthBirth = parseInt(birth[1])
	var dayBirth = parseInt(birth[2])

	cons

[2018-07-23 14:35] bluerface commented on #2781
+1

[2018-07-23 15:14] ullashunka opened #4716 "Moment wrong parsing"
Using the current version of the moment.

[code]

As mentioned in the code above for any other timezone, please use `00:00 - timezone value` {e.g. IST 5:30} and time will be `18:30` after this time the day shows parsing gets failed and shows invalid date.

More details can be found [here ](https://stackoverflow.com/questions/51481035/moment-timezone-invalid-date/51481444#51481444)

@marwahaha @ash

[2018-07-23 20:59] msavin commented on #2781
+99999999999999

[2018-07-23 21:34] AnthonyNahas commented on #3748
@sam-s4s I agree 👍

[2018-07-24 08:44] mistrykaran91 commented on #2416
How can I ignore few directory from my modules? As my project is huge and it is giving while prod build so I thinking to build chunks by chunks so will need to Ignore/exclude few directory ? Please help its bit urgent. Thanks in advance.

[2018-07-24 10:44] fstanis commented on #4532
@ichernev fully agree my use case is niche - I did end up doing exactly what you suggested and now I have a "proper" moment constructed, which does make a lot more sense. :)

Still, I think the issue I mentioned previously is worth fixing:

Would be great if this was at least a warning.

[2018-07-24 10:47] ashsearle commented on #4711
Interesting...

The data you're using and the way you're using it means `m2` is a date in January 1970.

BST did not revert to GMT in 1969 or 1970 (see [historic data for London time zone](https://www.timeanddate.com/time/zone/uk/london))

Some browsers / OS know this, and use the historically accurate timezone (+0100).  Others do not know the historical information, so use the assumed timezone, w

[2018-07-24 15:57] josebedoya commented on #627
`Math.abs(birthday.diff(moment(), 'years'))` with Math.abs you convert this result in a positive number

[2018-07-24 16:20] mistrykaran91 commented on #2373
I have a folder structure src/app/modules/user-management, I would to exclude the user-management folder in build, I have tried using IgnorePlugin but unable to achieve it, any help will be appreciated. Please.

[2018-07-24 21:04] ashsearle commented on #4715
`moment` (like `Date`) takes 0-based months, so you need to subtract 1 from month on these lines:

[code]

Without doing that, you're actually trying to compare to 2004-04-31, which doesn't exist (as April only has 30 days.)  That's why you're getting `NaN`

[2018-07-24 22:53] tomaszczechowski commented on #1044
it may help https://gist.github.com/tomaszczechowski/3da9b55fb12cfb2b725fe558ece55219

[2018-07-25 06:31] ashsearle commented on #4714
I think you're trying to use an unsupported / undocumented parsing format: `Mo` isn't mention in the documentation for [parsing format](https://momentjs.com/docs/#/parsing/string-format/).

[2018-07-25 06:39] heck4 commented on #4714
Oh... never mind then. I think I was looking at this sheet for my reference:
https://docs.google.com/spreadsheets/d/1lPzBlmJVAkN6HUw28wBJmY1SdbSInRIBY0JCmBUDUmk/edit?hl=en_US&hl=en_US#gid=0

[2018-07-25 06:47] ashsearle commented on #4714
Sure, the list of [formatting tokens](https://momentjs.com/docs/#/displaying/format/) is different from parsing tokens.

I don't think it would be that hard to add support for `Mo` (along with others like `Qo`, `DDDo`, `wo` etc.)

I guess the only reason they're not supported is that no-one's asked for them - and it'd add (a little) more bloat.

[2018-07-25 06:55] ullashunka commented on #4716
Thanks, by using new build problem is seems to be solved. You can verify it [here](https://stackoverflow.com/questions/51481035/moment-timezone-invalid-date/51481444#51481444).

But I have a query as using **do**  and **d**  both are returning different dates as you can see the code. "do" returns 22nd and "d" returns 25th. Is this behaviour is right?  @ashsearle

[2018-07-25 07:09] ashsearle commented on #4716
I don't see `do` in any of the tables of [parsing tokens](https://momentjs.com/docs/#/parsing/string-format/).

I'd guess that it's being silently ignored, which is why you're getting different results using `d` vs `do`.

Try using _strict mode_ and you'll see that you get an invalid date:

[code]

[2018-07-25 07:17] ullashunka commented on #4716
The problem was when we were using build moment "2.19.1" and data "0.5.14" after day change in my timezone the error was occurring. As if I am giving input 6:30 summertime GMT from India which means date change in my timezone. It was giving an error and giving an "invalid date". The link is as follows:

The code for getting the result was:
var myTime1 = moment.tz('30 3 18:30', 'w d HH:mm', 'Americ

[2018-07-27 19:10] mariante opened #4720 "Rounding Issue"
Hello,
 Im trying to get the anwser: "in 1 day, 3 hours, 30 minutes and 40 seconds" Im already take a look at

 and I dont figure out how can I do that.

[2018-07-30 13:51] TDA opened #4721 "Moment local doesnt work for certain dates"
**Description of the Issue and Steps to Reproduce:**
* Try these two commands in the console on Firefox 60 or Chrome 67
* moment("2016-11-09T14:31:30.809+07:00").local().format()
* moment("2016-10-09T14:31:30.809+07:00").local().format() (try any month from 4- 10)

I am currently in BST, and it works for the second command but not the first command.

i.e.
[code]

*Please include the values of all

[2018-07-30 14:02] TDA commented on #4721
Ughh, After a bit of thought, I realized that moment is doing the right thing. My expectations were wrong.

i.e. I expected the timezone to always be +01.00 regardless of the month, while moment checks and applies BST only in the months when its applicable. Sorry for the useless issue.

[2018-07-30 14:02] #4721 closed

[2018-07-30 18:15] ashsearle commented on #4713
Adding the `.js` file extension to all import under `src/` could easily lead to a chain of up to 105-228 HTTP requests (depending on locales)

A more appropriate result might be achieved by adding `esnext` and `module` properties to `package.json`.  From a [series of articles by Axel Rauschmayer trio](http://2ality.com/2017/06/pkg-esnext.html) it seems like you'd want something like:

[code]

(whe

[2018-07-30 22:07] rollrodrig commented on #1875
I am working with react  datepicker that use moment and this code worked for me
[code]

[2018-07-31 00:58] anaxamaxan commented on #2979
I found the alias solution posted above by @M1chaelTran to work well. In case someone using Laravel Mix is wondering how to apply it, your `webpack.mix.js` should look similar to this at the top:
[code]

[2018-07-31 11:38] gilles-crealp opened #4722 "Parse object with offset"
It would be great if[ `moment({unit: value, ...});`](http://momentjs.com/docs/#/parsing/object/) (and by the way [`moment(Number[]);`](http://momentjs.com/docs/#/parsing/array/)) would accept an offset. So you can parse date object (or array) who is not in local time (or UTC with [`moment.utc()`](http://momentjs.com/docs/#/parsing/utc/)).

[code]

Related with https://github.com/moment/moment/issu

[2018-07-31 14:25] pedrofurtado commented on #2608
Here, this works:

[code]

[2018-07-31 14:57] m4l3vich commented on #348
+1

[2018-07-31 15:42] viv-li commented on #2781
+1 please

[2018-07-31 15:51] TashaRolland92 commented on #1875
@drahosistvan I've been trying to overcome this all day and then I find your comment! THANKING YOU #easilypleased #newb

[2018-08-01 09:01] null4bl3 opened #4723 "Deprecation warning outputs as error trace"
In a deprecation warning i am getting the output of a new Error()).stack trace.
Is it just me or is that perhaps a bit much to return a deprecation warning as a error?

![deepinscreenshot_select-area_20180801110106](https://user-images.githubusercontent.com/10575715/43512004-365bf6aa-957a-11e8-876f-b3db2ad39e32.png)

The issue is present in Nodejs v9.11.1 and v10.2

https://github.com/moment/momen

[2018-08-01 09:37] null4bl3 opened #4724 "RFC2822 compliant YYYY-MM-DD format triggers deprecation warning."
As the screenshot shows, the attempted input format is RFC2822 compliant, so it should not trigger a warning when running the command:

![deepinscreenshot_select-area_20180801110106](https://user-images.githubusercontent.com/10575715/43513396-f1f8b314-957d-11e8-85f1-4a30eb5e3cce.png)

`
moment("2018-07-01").format()
`

The command outputs "**2018-07-01T00:00:00+02:00**" so the input is interpreted

[2018-08-01 11:24] OriginalArye opened #4725 "Humanize Issue"
Hello.
I get an incorrect value when I try to humanize on duration.
When I enter 11 months, the result "a year" instead of "11 Months".

[code]
[http://jsfiddle.net/rLjQx/101462/](http://jsfiddle.net/rLjQx/101462/)
I am using version 2.22.2

[2018-08-01 13:02] ashsearle commented on #4723
The deprecation _uses_ `Error` to get a stack trace, but doesn't return the `Error`.

The message is output using `console.warn`.

The benefit of returning the stack trace is that the user can see which line of _their_ code caused the deprecation warning.

What's the issue you're reporting?  What do you think moment is doing wrong?